<div class="container card m-3 pb-3">

    <div class="row d-flex justify-content-center mt-4 ">
        <div class="col d-flex ms-5">
           <img src="../../assets/images/t.jpg" class="ml-4 rounded-circle" height="80" width="80" alt="">

           <div class="ml-3 mt-2">
                <h3 class="text-dark mb-0 t-28">{{company.name}}</h3>
                <p class="text-muted t-14">{{company.type}}</p>
           </div>

           <div class="col d-flex justify-content-end  align-items-center">
               <div class="mr-4">
                    <button type="button" 
                        class="btn btn-primary btn-sm" 
                        [routerLink]="['/company/edit-company']">
                        <img src="../../assets/icons/edit.svg" alt="">
                            Edit Profile
                    </button>
               </div>
           </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col px-5">
            <ul class="nav nav-tabs mt-n3">
            
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabItem2" [class.active]="activeTab === tabs[0]">About Our Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabItem3" [class.active]="activeTab === tabs[1]">Why Choose Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabItem4" [class.active]="activeTab === tabs[2]">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabItem5" [class.active]="activeTab === tabs[3]">Contact Us</a>
                </li>
            </ul>
            <div class="tab-content">
    
                <div class="tab-pane" id="tabItem2" [class.active]="activeTab === tabs[0]">
                    <app-about-company [company]="company" [aboutUs]="company.about" [companyName]="company.name"></app-about-company>
                </div>
                <div class="tab-pane" id="tabItem3" [class.active]="activeTab === tabs[1]">
                    <app-choose-us [company]="company" [chooseUs]="company.whyChooseUs"></app-choose-us>
                </div>
                <div class="tab-pane" id="tabItem4" [class.active]="activeTab === tabs[2]">
                   <app-gallery [company]="company"></app-gallery>
                </div>
                <div class="tab-pane" id="tabItem5" [class.active]="activeTab === tabs[3]">
                    <app-contact-us
                        [email]="company.email"
                        [phone]="company.phone"
                        [mobile]="company.mobile"
                        [companyWebsite]="company.website"
                        [youtubeChannel]="company.youtubeChannel"
                    ></app-contact-us>
                </div>
            </div>
        </div>
    </div>
</div>

