<div class="card p-2 card-bordered">
    <div class="container">

        <div class="row">
            <div class="col-sm-3 ">
                <div class="align-items-center">
                    <h5 class=" mt-3 fw-bold">Pending Take Off</h5>
                </div>
            </div>

            <div class="col align-items-center ">
                <form action="">
                    <div class="d-flex justify-content-end">
                        <div class="form-group mx-1">
                            <select class="form-select form-control" >
                                <option selected>All Categories</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
    
                        <div class="form-group mx-1">
                            <div class="form-control-wrap">
                                <div class="form-icon form-icon-right">
                                    <em class="icon ni ni-search"></em>
                                </div>
                                <input type="text" class="form-control" 
                                    placeholder="Search TakeOff" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <p class="text-primary">You have 1 Drawing received</p>

        <ng-container *ngIf="pagination$ | async; let pagination">
            <div class="row header text-secondary">
                <div class="col-sm-2">Name</div>
                <div class="col-sm-2">Status</div>
                <div class="col-sm-8">Action</div>
            </div>

            <div class="row border-top py-2" *ngFor="let project of pagination.data; let i = index">
                <div class="col-sm-2">
                    <div class="d-flex">
                        <div>
                            <img [src]="project.image.url" height="50"  width="50" class="mr-1" *ngIf="project.image">
                            <img src="/assets/images/no-image-available.png" height="50"  width="50" class="mr-1" *ngIf="!project.image">
                        </div>
                        <div class="ml-2">{{project.name}}</div>
                    </div>
                </div>

                <div class="col-sm-2">
                    {{ project.takeOffStatus }}
                </div>

                <div class="col-sm-8">
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="text-primary downloadLink" (click)="downloadDrawing(project.specifications[0].url)">
                            Download Drawing
                        </a>
                        <div>
                            <button class="btn btn-primary mr-2" (click)="setProject(project)" 
                                data-toggle="modal" data-target="#modalDefault">
                                <em class="icon ni ni-navigate mr-1"></em>
                                Create Take Off
                            </button>
                            <button class="btn btn-primary" (click)="closeTakeOff(project)">Close TakeOff</button>
                        </div>                       
                        <button class="btn" data-toggle="collapse" [attr.data-target]="'#'  + 'project' + i" [hidden]="!(project && project.takeOff.length > 0)">
                            <em class="icon ni ni-chevron-down"></em>
                        </button>
                    </div>
                </div>
                <!-- Collapsible Panel -->
                <div class="col-sm-12 collapse mt-2" [attr.id]=" 'project' + i ">
                    <div class="list-group list-group-root well">
                        <span class="building bg-light" *ngFor="let item of project.takeOff; let j = index">
                        <a  class="list-group-item"
                            data-toggle="collapse" 
                            [attr.data-target]="'#'  + 'item' + j" 
                        >
                            <div class="d-flex justify-content-between">
                            <div>  {{item.name }}</div>
                            <div>
                                <a (click)="downloadMyFile(item.url,item.name)" placement="top" container="body" ngbTooltip="Download Attachment" >
                                    <em class="icon ni ni-arrow-down mx-2"></em>
                                </a>
                                <a placement="top" container="body" ngbTooltip="Delete Attachment">
                                    <em class="icon ni ni-trash"></em>
                                </a>
                            </div>
                            </div>
                        </a>
                        <div class="list-group collapse" [attr.id]=" 'item' + j " >
                            <span class="floor">
                                <a  class="list-group-item floor" >
                                    <div class="d-flex justify-content-between">
                                        <div>Document Preview</div>
                                    </div>
                                </a>
                            </span>
                        </div>
                        </span>
                    </div>
                </div>
                <!-- Collapsible Panel Ends HERE-->
            </div>
        </ng-container>

         <!-- Main row closed // -->
    </div>
</div>

<!--  Modal Content Code -->
<form action="" [formGroup]="takeOffForm" (ngSubmit)="submitData()">
    <div class="modal fade" tabindex="-1" id="modalDefault">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
                <div class="modal-header">
                    <h5 class="modal-title">Upload Your TakeOff File here</h5>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <input formControlName="name" class="my-1" type="text" class="form-control" placeholder="Enter Take Off Name">
                    </div>
                    <app-file-uploader #profileUploader (uploadedFiles)="uploadTakeOffDocuments($event)"></app-file-uploader>
                </div>
                <div class="modal-footer">
                    <button data-toggle="modal" data-target="#modalDefault" class="btn btn-primary" type="submit" (click)="saveTakeOff()">Save</button>
                </div>
            </div>
        </div>
    </div>
   
</form>
