
  .building {
    cursor: pointer;
    
  }

   .floor {
  
     cursor: pointer;
   }

   .building:hover {
     background-color: aliceblue;
   }

   em {
    width: 40px;
   }


  .downloadLink {
    cursor: pointer;
  }