<div class="nk-header-wrap">
    <div class="nk-menu-trigger d-xl-none ml-n1">
        <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
        
    </div>
    <div class="nk-header-app-name">
        <div class="mr-3">
            <img src="../../assets/icons/SupplyX-secondry.svg" height="30" width="30" alt="">
        </div>

        <div class="nk-header-app-info">
            <span class="sub-text">SupplyX</span>
            <span class="lead-text">Dashboard</span>
        </div>
    </div>
    <div class="nk-header-menu is-light">
        <div class="nk-header-menu-inner">
           
        </div>
    </div>
    <div class="nk-header-tools">
        <ul class="nk-quick-nav">
            <li class="dropdown chats-dropdown hide-mb-xs">
                <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                    <div class="icon-status icon-status-na"><em class="icon ni ni-comments"></em></div>
                </a>
                <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                    <div class="dropdown-head">
                        <span class="sub-title nk-dropdown-title">Recent Chats</span>
                        <a href="javascript:void(0);">Setting</a>
                    </div>
                    <div class="dropdown-body">
                        
                        
                    </div><!-- .nk-dropdown-body -->
                    <div class="dropdown-foot center">
                        <a href="javascript:void(0);">View All</a>
                    </div>
                </div>
            </li>
            <li class="dropdown notification-dropdown">
                <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                    <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                </a>
                <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                    <div class="dropdown-head">
                        <span class="sub-title nk-dropdown-title">Notifications</span>
                        <a href="javascript:void(0);">Mark All as Read</a>
                    </div>
                    <div class="dropdown-body">
                        <div class="nk-notification">
                            
                            
                        </div><!-- .nk-notification -->
                    </div><!-- .nk-dropdown-body -->
                    <div class="dropdown-foot center">
                        <a href="javascript:void(0);">View All</a>
                    </div>
                </div>
            </li>
            <li class="dropdown list-apps-dropdown d-lg-none">
                <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                    <div class="icon-status icon-status-na"><em class="icon ni ni-menu-circled"></em></div>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <div class="dropdown-body">
                        <ul class="list-apps">
                            <li>
                                <a href="html/index.html">
                                    <span class="list-apps-media"><em class="icon ni ni-dashlite bg-primary text-white"></em></span>
                                    <span class="list-apps-title">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="html/apps/chats.html">
                                    <span class="list-apps-media"><em class="icon ni ni-chat-circle bg-info-dim"></em></span>
                                    <span class="list-apps-title">Chats</span>
                                </a>
                            </li>
                            <li>
                                <a href="html/apps/mailbox.html">
                                    <span class="list-apps-media"><em class="icon ni ni-inbox bg-purple-dim"></em></span>
                                    <span class="list-apps-title">Mailbox</span>
                                </a>
                            </li>
                            <li>
                                <a href="html/apps/messages.html">
                                    <span class="list-apps-media"><em class="icon ni ni-chat bg-success-dim"></em></span>
                                    <span class="list-apps-title">Messages</span>
                                </a>
                            </li>
                            <li>
                                <a href="html/apps/file-manager.html">
                                    <span class="list-apps-media"><em class="icon ni ni-folder bg-purple-dim"></em></span>
                                    <span class="list-apps-title">File Manager</span>
                                </a>
                            </li>
                            <li>
                                <a href="html/components.html">
                                    <span class="list-apps-media"><em class="icon ni ni-layers bg-secondary-dim"></em></span>
                                    <span class="list-apps-title">Components</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list-apps">
                            <li>
                                <a href="/demo2/ecommerce/index.html">
                                    <span class="list-apps-media"><em class="icon ni ni-cart bg-danger-dim"></em></span>
                                    <span class="list-apps-title">Ecommerce Panel</span>
                                </a>
                            </li>
                            <li>
                                <a href="/demo4/subscription/index.html">
                                    <span class="list-apps-media"><em class="icon ni ni-calendar-booking bg-primary-dim"></em></span>
                                    <span class="list-apps-title">Subscription Panel</span>
                                </a>
                            </li>
                            <li>
                                <a href="/demo5/crypto/index.html">
                                    <span class="list-apps-media"><em class="icon ni ni-bitcoin-cash bg-warning-dim"></em></span>
                                    <span class="list-apps-title">Crypto Wallet Panel</span>
                                </a>
                            </li>
                            <li>
                                <a href="/demo6/invest/index.html">
                                    <span class="list-apps-media"><em class="icon ni ni-invest bg-blue-dim"></em></span>
                                    <span class="list-apps-title">HYIP Invest Panel</span>
                                </a>
                            </li>
                        </ul>
                    </div><!-- .nk-dropdown-body -->
                </div>
            </li>
            <li class="dropdown user-dropdown" *ngIf="(user$ | async); let user">
                <a href="#" class="dropdown-toggle mr-n1" data-toggle="dropdown">
                    <div class="user-toggle">
                        <div class="user-avatar sm">
                            <em *ngIf="!_user.images[0]?.url" class="icon ni ni-user-alt"></em>
                            <img *ngIf="_user.images[0]?.url" [src] = "_user.images[0]?.url" height="35" width="60" alt="">
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                    <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                        <div class="user-card">
                            <div class="user-avatar">
                                <img *ngIf="_user.images[0]?.url" [src] = "_user.images[0]?.url" height="35" width="60" alt="">
                            </div>
                            <div class="user-info">
                                <span class="lead-text"></span>
                                <span class="sub-text">{{ user.email }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-inner">
                        <ul class="link-list">
                            <li><a [routerLink]="['/user-profile']"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                            <!-- <li><a href="javascript:void(0);"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                            <li><a href="javascript:void(0);"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>
                            <li><a class="dark-switch" href="javascript:void(0);"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li> -->
                        </ul>
                    </div>
                    <div class="dropdown-inner">
                        <ul class="link-list">
                            <li><a href="#"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>


