<div class="nk-block-head nk-block-head-sm mx-3">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h4 class="nk-block-title page-title">Products</h4>
        </div><!-- .nk-block-head-content -->
        <div class="nk-block-head-content">
            <div class="toggle-wrap nk-block-tools-toggle">
                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                    <ul class="nk-block-tools g-3">

                        <li>
                            <div class="form-control-wrap">
                                <select class="form-select form-control" aria-label="Default select example">
                                    <option selected>All Apartments</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                        </li>

                        <li>
                            <div class="form-control-wrap">
                                <div class="form-icon form-icon-right">
                                    <em class="icon ni ni-search"></em>
                                </div>
                                <input type="text" class="form-control" id="default-04" placeholder="Search Products">
                            </div>
                        </li>
                       
                        <li class="nk-block-tools-opt">
                            <a [routerLink]="['add-product']" data-target="addProduct" class="toggle btn btn-primary d-none d-md-inline-flex"><span>Add Product</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div><!-- .nk-block-head -->
 <div class="nk-block">
    <div class="card card-bordered">
        <div class="card-inner-group">
            <div class="card-inner p-0">
                <div class="nk-tb-list">
                    
                    <div class="nk-tb-item" *ngFor="let product of products">
                        <div class="nk-tb-col tb-col-sm">
                            <span class="tb-product">
                                <img [src]="product.img" alt="" class="thumb ml-1">
                                <div class="d-flex flex-column">
                                    <span class="title">{{product.name}}</span>
                                    <span class="tb-sub">{{product.category}}</span>
                                    <span class="tb-sub">{{product.quantity}}</span>
                                </div>
                            </span>
                        </div>
                        <div class="nk-tb-col">
                            
                        </div>
                        <div class="nk-tb-col">
                            <span class="tb-sub">{{product.apartmentType}}</span>
                        </div>
                        <div class="nk-tb-col">
                            <a href="javascript:void(0);" class="tb-sub">View/Download Specifications</a>
                        </div>
                        <div class="nk-tb-col nk-tb-col-tools">
                            <ul class="nk-tb-actions gx-1 my-n1">
                                <li class="mr-n1">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a [routerLink]="['add-product']"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                <li><a href="javascript:void(0);"><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .nk-tb-item -->
                </div><!-- .nk-tb-list -->
            </div>
            
        </div>
    </div>
</div><!-- .nk-block -->
