/* .apartment {
    position: relative;
    width: 100%;
}
 */

.text {
    font-size: 14px;
    font-weight: 700;
}

a {
    text-decoration: none;
    cursor: pointer;
}

em {
    cursor: pointer;
    transition: 0.2s;
}

.rotatedown {
    transform: rotateZ(90deg);
    transition: 0.2s ease;
}

.rotateup {
    transform: rotateZ(-5deg);
    transition: 0.2s ease;
    transform-origin: center;
}

.building__check {
    display: none;
}

.floor__check {
    display: none;
}

.building__check:checked ~ .icon {
    transform: rotateZ(90deg);
    transition: 0.2s ease;
}

.floor__check:checked ~ .icon {
    transform: rotateZ(90deg);
    transition: 0.2s ease;
}