<div class="container py-0">
    <div class="row pt-0">
        <!-- <div class="col-sm-4 border border-top-0 border-left-0" style="height: 100vh;"> -->
           
            <!-- <div id="checkbox-tree">
                <ul>
                    <li> Building 1 <ul>
                        
                            <li data-jstree='{ "opened" : true }'> Floor 1 
                                
                                <ul>
                                    <li data-jstree='{  }'> Studio </li>
                                    <li data-jstree='{ "type" : "file" }'> Standard 2 Bedroom  </li>
                                    <li data-jstree='{ "type" : "file" }'> Deluxe  </li>
                                </ul>
                            </li>

                            

                            <li> Floor 2    
                                <ul>
                                    <li data-jstree='{  }'> Studio </li>
                                    <li data-jstree='{ "type" : "file" }'> Standard 2 Bedroom  </li>
                                    <li data-jstree='{ "type" : "file" }'> Deluxe  </li>
                                </ul>
                            </li>

                            <li data-jstree='{ "selected" : false }'> Floor 3
                                <ul>
                                    <li data-jstree='{  }'> Studio </li>
                                    <li data-jstree='{ "type" : "file" }'> Standard 2 Bedroom  </li>
                                    <li data-jstree='{ "type" : "file" }'> Deluxe  </li>
                                </ul>
                            </li>
                            <li > Floor 4 <ul>
                                    <li data-jstree='{ "disabled" : true }'> Disabled Node </li>
                                    <li data-jstree='{ "type" : "file" }'> Another node </li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                
                   
                </ul>
            </div> -->
            <!-- <div class="accordion border-0 ml-2" id="accordionExample">
                <div class="accordion-item">
                    
                    <p class="accordion-header toggle px-2 d-flex justify-content-start align-items-center m-0" id="headingOne" >
                        <input type="checkbox" name="" id="buildingcheck" class="building__check">
                        <em class="icon ni ni-forward-ios mr-2" data-toggle="collapse"id="up" data-target="#building"></em>
                        <input type="checkbox" data-toggle="collapse"  data-target="#building" class="form-control" style="width: 6%;">
                        <label  class="accordion-button ml-2 text mb-0" data-toggle="collapse" 
                        data-target="#building" aria-expanded="true" aria-controls="collapseOne"  for="buildingcheck">Building 1</label>  
                        
                    </p>

                    <div id="building" class="accordion-collapse collapse ml-3" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="accordion-header px-2  d-flex justify-content-start align-items-center m-0" id="headingTwo" >
                                <input type="checkbox" name="" id="floorcheck" class="floor__check">
                                <em class="icon ni ni-forward-ios mr-2"  data-toggle="collapse"  data-target="#floor"></em>
                                <input type="checkbox" data-toggle="collapse"  data-target="#floor" class="form-control" style="width: 6%;"> 
                                <label  class="accordion-button ml-2 text mb-0" data-toggle="collapse" 
                                 data-target="#floor" aria-expanded="true" aria-controls="collapseOne"  for="floorcheck">Floor 1</label>   
                                <div class="dropdown ml-5">
                                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                    <div class="dropdown-menu dropdown-menu-left">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="javascript:void(0);"><em class="icon ni ni-plus-round"></em><span>Add Apartment</span></a></li>
                                            <li><a href="javascript:void(0);"><em class="icon ni ni-copy"></em><span>Duplicate Floor</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div id="floor" class="accordion-collapse collapse" style="margin-left: 50px;" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                        <div class="d-flex align-items-center apartment">
                                            <input type="checkbox"  class="form-control" style="width: 7%;">  
                                            <a class="accordion-button ml-2 text"  data-toggle="collapse">Studio</a>
                                            <span class="badge bg-primary ml-5 text-light">4</span>
                                            
                                        </div>
                                        <div class="d-flex align-items-center apartment">
                                            <input type="checkbox"  class="form-control" style="width: 7%;">  
                                            <a class="accordion-button ml-2 text"  data-toggle="collapse">Standard 2 Bedroom</a>
                                            <span class="badge bg-primary ml-5 text-light">7</span>
                                        </div>
                                        <div class="d-flex align-items-center apartment">
                                            <input type="checkbox"  class="form-control" style="width: 7%;">  
                                            <a class="accordion-button ml-2 text"  data-toggle="collapse">Deluxe</a>
                                            <span class="badge bg-primary ml-5 text-light">3</span>
                                        </div>
                                </div>
                                
                              </div>
                            </div>

                            
                        </div>
                    </div>

                </div> -->
            <!-- <app-accordian></app-accordian> -->
          <!--   <app-accordian></app-accordian> -->
           <!--  <div class="tree-container"></div> -->
        <!-- </div> -->


        <div class="col">
            <h3>Floor Bulider</h3>
            <app-floor-builder [project]="project"></app-floor-builder>
        </div>
    </div>
</div>