<div class="nk-content p-0">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        
    
                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-sm-3" *ngFor="let img of uploadedImages">
                            <div class="gallery h-100 w-100 card card-bordered p-3">
                                <a class="gallery-image popup-image" href={{img.url}}>
                                    <img class="w-100 rounded-top" 
                                    src={{img.url}} >
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>