
<div class="nk-block">
    <div class="row g-gs">
        <div class="col-xxl-3 col-lg-4 col-sm-6" *ngFor="let product of paginationResponse.data; index as i">
            <div class="card card-bordered product-card" [routerLink]="['product-description', product.id]" >
                <div class="product-thumb">
                    <a>
                        <img class="card-img-top" [src]="product.images[0].url" 
                            *ngIf="product?.images && product.images.length > 0" alt="">
                    </a>
                    <ul class="product-badges">
                        <li><span class="badge badge-success">New</span></li>
                    </ul>
                    <ul class="product-actions">
                        <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                        <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                    </ul>
                </div>
                <div class="card-inner text-center">
                    <ul class="product-tags">
                        <li><a >{{product.productName}}</a></li>
                    </ul>
                    <h5 class="product-title"><a>{{product.category?.name}}</a></h5>
                    <div class="product-price text-primary h5">${{product.price}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
