<div class="nk-block">
    <div class="card card-bordered">
        <div class="card-inner-group">
            <div class="card-inner p-0">
                <div class="nk-tb-list">
                    <div class="nk-tb-item nk-tb-head">
                        <div class="nk-tb-col nk-tb-col-check">
                            <div class="custom-control custom-control-sm custom-checkbox notext">
                                <input type="checkbox" class="custom-control-input" id="pid">
                                <label class="custom-control-label" for="pid"></label>
                            </div>
                        </div>
                        <div class="nk-tb-col"><span>Catalog Name</span></div>
                        <div class="nk-tb-col"><span>Number of Products</span></div>
                        <div class="nk-tb-col nk-tb-col-tools">
                            <ul class="nk-tb-actions gx-1 my-n1">
                                <li class="mr-n1">
                                    <div class="dropdown">
                                        <a href="javascript:void(0);" class="btn btn-icon btn-trigger"><em class="icon ni ni-more-h"></em></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <ng-container *ngIf="paginationResponse">
                        <!-- .nk-tb-item -->
                        <div class="nk-tb-item" *ngFor="let catalog of paginationResponse.data">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" [id]="catalog.id">
                                    <label class="custom-control-label" [for]="catalog.id"></label>
                                </div>
                            </div>
                            
                            <div class="nk-tb-col">
                                <img class="mr-4" src="../../../../../assets/icons/catlog.svg" alt="">
                                <span class="tb-sub">{{catalog.catalogName}}</span>
                            </div>

                            <div class="nk-tb-col">
                                <span class="tb-sub"> {{ catalog.productCount }} products</span>
                            </div>
                            
                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1 my-n1">
                                    <li class="mr-n1">
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a [routerLink]="['product-catlog-list', catalog.id ]"><em class="icon ni ni-eye"></em><span>View Products</span></a></li>
                                                    <li><a href="javascript:void(0);" (click)="ddAction('EDIT', catalog)"><em class="icon ni ni-edit"></em><span>Edit Catlog</span></a></li>
                                                    <li><a href="javascript:void(0);" (click)="ddAction('DELETE', catalog)"><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .nk-tb-item -->
                    </ng-container>
                </div><!-- .nk-tb-list -->
            </div>
            <div class="card-inner">
                <div class="nk-block-between-md g-3">
                    <div class="g">
                        <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                            <div>Per Page</div>
                            <div>
                                <select class="form-select form-control" [(ngModel)]="pageSize" (ngModelChange)="changePageSize()" data-search="on" data-dropdown="xs center">
                                    <option [ngValue]="pageSize" *ngFor="let pageSize of pageSizes">{{ pageSize }}</option>
                                </select>
                            </div>
                        </div>
                    </div><!-- .pagination-goto -->
                    <div class="g" *ngIf="paginationResponse">
                        <ul class="pagination justify-content-center justify-content-md-start">
                            <li class="page-item" [class.disabled]="paginationRef.isFirst">
                                <a href="javascript:void(0);" class="page-link" (click)="paginationRef.prevPage()">
                                    <em class="icon ni ni-chevrons-left"></em>
                                </a>
                            </li>
                            <li class="page-item" *ngFor="let page of paginationResponse.pageControls" [class.active]="paginationRef.isPageActive(page)">
                                <a href="javascript:void(0);" class="page-link" (click)="paginationRef.setPage(page)">{{page}}</a>
                            </li>
                            <li class="page-item" [class.disabled]="paginationRef.isLast">
                                <a href="javascript:void(0);" class="page-link" (click)="paginationRef.nextPage()">
                                    <em class="icon ni ni-chevrons-right"></em>
                                </a>
                            </li>
                        </ul><!-- .pagination -->
                    </div>
                </div><!-- .nk-block-between -->
            </div>
        </div>
    </div>
</div><!-- .nk-block -->