<div class="container">
    <div class="row">
        <div class="col"> <p style="font-size: 20px;" class="text-dark">Contact Us</p></div>
       <div class="col d-flex justify-content-end">
           <button class="btn btn-primary mx-4">Message</button>
           <button class="btn btn-primary">Call</button>
       </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-5 ">
            <div class="row my-3">
                <div class="col"><p class="text-muted">Email Address</p></div>
                <div class="col"><p class="text-dark">{{email}}</p></div>
            </div>
            <div class="row my-3">
                <div class="col"><p class="text-muted">Office Number</p></div>
                <div class="col"><p class="text-dark">{{phone}}</p></div>
            </div>
            <div class="row my-3">
                <div class="col"><p class="text-muted">Mobile Number</p></div>
                <div class="col"><p class="text-dark">{{mobile}}</p></div>
            </div>
            <div class="row my-3">
                <div class="col"><p class="text-muted">Company Website</p></div>
                <div class="col"><p class="text-dark">{{companyWebsite}}</p></div>
            </div>
            <div class="row my-3">
                <div class="col"><p class="text-muted">Youtube Channel</p></div>
                <div class="col"><p class="text-dark">{{youtubeChannel}}</p></div>
            </div>
        </div>
    </div>
</div>
