<!-- <div class="nk-sidebar-inner" data-simplebar id="dashboardMenu">
    <ul class="nk-menu nk-menu-md">
        <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Dashboards</h6>
        </li>
        <li class="nk-menu-item">
            <a href="html/index.html" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">Default Dashboard</span>
            </a>
        </li>
    </ul>
</div> -->


<div class="nk-sidebar-inner">
  <ul class="nk-menu nk-menu-md">
    <li class="nk-menu-item" *ngFor="let menu of activeSideMenu$ | async; index as i;" (click)="activateLink(i)" [class.active]="activeLinkIndex === i">
      <a class="nk-menu-link" [routerLink]="menu.url" *ngIf="!menu.disabled">
        <span class="nk-menu-text">{{ menu.title }}</span>
      </a>
      <a class="nk-menu-link" href="javascript:void(0)" *ngIf="menu.disabled">
        <span class="nk-menu-text">{{ menu.title }}</span>
      </a>
    </li><!-- .nk-menu-item -->
  </ul>
</div>

<div *ngIf="currentPage == '/market-place' " class=" mx-2">

  <label class="form-label mt-4">Filter By Price</label>

  <form action="#" class="multi-range ml-1">
    <input class="form-range" type="range" name="ram" #ramSelector (change)="setRam(ramSelector.value)" min="0"
      value="0">
    <input class="form-range" type="range" name="ram" #ramSelector2 (change)="setMaxPrice(ramSelector2.value)" min="0"
      value="100">
  </form>

  <div class=" my-2 mt-1 d-flex justify-between">
    <p class="mb-0">Min: ${{ selectedRam }}</p>
    <p >Max: ${{ MaxPrice }}</p>
  </div>
  <label class="form-label mt-2">Filter By Country</label>
  <div class="mx-4">
    <div class="">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <div class="" for="gridCheck">Pakistan</div>
    </div>
    <div class="">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <div class="" for="gridCheck">India</div>
    </div>
    <div class="">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <div class="" for="gridCheck">U.S</div>
    </div>
    <div class="">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <div class="" for="gridCheck">U.K</div>
    </div>
    <div class="">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <div class="" for="gridCheck">China</div>
    </div>
  </div>

  <label class="form-label mt-4">Filter By Brand</label>
  <div class=" ml-0">
    <div class="">
      <div class="ng-autocomplete" style=" width:230px;">
        <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="SearchProducts"
          (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
          [itemTemplate]="itemTemplate" (inputCleared)="onInputCleared($event)" [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
      <!-- <input type="text" class="form-control" placeholder="Search Brand"> -->
    </div>
  </div>
</div>
