.input {
    border-radius: 5px;
    height: 40px;
}

.Gobtn {
    border-radius: 5px;
    height: 35px;
}

.btntitle {
    color: black;
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
}

ngb-panel{
    width: 100%;
}
.range-accordion{
    border: 0px;
}

input[type=range] {
    box-sizing: border-box;
    appearance: none;
    width: 230px;
    margin: 1px;
    padding: 1px 2px;
    /* Add some L/R padding to ensure box shadow of handle is shown */
    overflow: hidden;
    border: 0;
    border-radius: 1px;
    outline: none;
    background: linear-gradient(#d3d3d3, #d3d3d3) no-repeat center;
    /* Use a linear gradient to generate only the 2px height background */
    background-size: 95% 5px;
    pointer-events: none;
 
    &:active,
    &:focus {
       outline: none;
    }
 
    &::-webkit-slider-thumb {
       height: 13px;
       width: 13px;
       border-radius: 10px;
       background-color: rgb(43, 43, 255);
       position: relative;
    //    margin: 5px ;
       /* Add some margin to ensure box shadow is shown */
       cursor: pointer;
       appearance: none;
       pointer-events: all;
       &::before {
             content: ' ';
             display: block;
             position: absolute;
          
       }
    }
 }
 
 .multi-range {
    position: relative;
    height: 10px;
 
    input[type=range] {
       position: absolute;
       
       &:nth-child(1) {
          &::-webkit-slider-thumb::before {
             background-color: red;
          }
       }
 
       &:nth-child(2) {
          background: none;
 
          &::-webkit-slider-thumb::before {
              background-color: grey; 
          }
       }
    }
 }

 .ng-autocomplete {
   ::ng-deep .autocomplete-container {
     box-shadow: none;
     border-radius: 10px;
   }
 }

 .ng-autocomplete {
   ::ng-deep .autocomplete-container input {
     border-radius: 5px;
     border: solid 1px #e1e1e1;
     height: 35px;
   }
 }
