<div class="nk-block">
    <div class="py-2">
        <p *ngIf="paginationResponse">You have {{ paginationResponse.total }} {{status}} Products</p>
    </div>
    <div class="card card-bordered">
        <div class="card-inner-group" *ngIf="paginationResponse">
            <div class="card-inner p-0">
                <div class="nk-tb-list">
                    <div class="nk-tb-item nk-tb-head">
                        <div class="nk-tb-col nk-tb-col-check" *ngIf="isSelectable">
                            <div class="custom-control custom-control-sm custom-checkbox notext">
                                <input type="checkbox" class="custom-control-input" id="pid">
                                <label class="custom-control-label" for="pid"></label>
                            </div>
                        </div>
                        <div class="nk-tb-col tb-col-sm"><span>Product Name</span></div>
                        <div class="nk-tb-col"><span>Category</span></div>
                        <div class="nk-tb-col"><span>Catlog Name</span></div>
                        <div class="nk-tb-col"><span>Price</span></div>
                        <div class="nk-tb-col tb-col-md"><span>Quantity</span></div>
                        <div class="nk-tb-col nk-tb-col-tools">
                            <ul class="nk-tb-actions gx-1 my-n1">
                                <li class="mr-n1">
                                    <div class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle btn btn-icon btn-trigger" ><em class="icon ni ni-more-h"></em></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .nk-tb-item -->
                    
                    

                    <ng-container *ngIf="paginationResponse">
                        <div class="nk-tb-item" *ngFor="let product of paginationResponse.data; index as i">
                            <div class="nk-tb-col nk-tb-col-check" *ngIf="isSelectable">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" [id]="productIds[i].productId" 
                                        [value]="productIds[i].checked" [(ngModel)]="productIds[i].checked" (change)="onChange($event)">
                                    <label class="custom-control-label" [for]="product.id"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col tb-col-sm">
                                <span class="tb-product"  [routerLink]="['product-description', product.id]">
                                    <img [src]="product.images[0].url" alt="" class="thumb ml-1" *ngIf="product?.images && product.images.length > 0">
                                    <span class="title">{{product.productName}}</span>
                                </span>
                            </div>
                            <div class="nk-tb-col">
                                <span class="tb-sub">{{product.category?.name}}</span>
                            </div>
                            <div class="nk-tb-col">
                                <span class="tb-sub">{{product?.catalog?.catalogName}}</span>
                            </div>
                            <div class="nk-tb-col">
                                <span class="tb-sub">{{product.price}}</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="tb-sub">{{product.availableQuantity}}</span>
                            </div>
                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1 my-n1">
                                    <li class="mr-n1">
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="javascript:void(0);" [routerLink]="['product-description', product.id]"><em class="icon ni ni-eye"></em><span>View Details</span></a></li>
                                                    <li><a href="javascript:void(0);" (click)="ddAction('CATALOG', product)" *ngIf="isInsideCatalog"><em class="icon ni ni-edit"></em><span>Add to Catalog</span></a></li>
                                                    <li><a href="javascript:void(0);" (click)="ddAction('INACTIVE', product)" *ngIf="!isInsideCatalog"><em class="icon ni ni-eye-off"></em><span>Mark as Inactive</span></a></li>
                                                    <li><a href="javascript:void(0);" (click)="ddAction('EDIT', product)" *ngIf="!isInsideCatalog"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                    <li><a href="javascript:void(0);" (click)="ddAction('DELETE', product)" *ngIf="!isInsideCatalog"><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .nk-tb-item -->
                    </ng-container>
                </div><!-- .nk-tb-list -->
            </div>
            <div class="card-inner">
                <div class="nk-block-between-md g-3">
                    <div class="g">
                        <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                            <div>Per Page</div>
                            <div>
                                <select class="form-select form-control" [(ngModel)]="pageSize" (ngModelChange)="changePageSize()" data-search="on" data-dropdown="xs center">
                                    <option [ngValue]="pageSize" *ngFor="let pageSize of pageSizes">{{ pageSize }}</option>
                                </select>
                            </div>
                        </div>
                    </div><!-- .pagination-goto -->
                    <div class="g" *ngIf="paginationResponse">
                        <ul class="pagination justify-content-center justify-content-md-start">
                            <li class="page-item" [class.disabled]="paginationRef.isFirst">
                                <a href="javascript:void(0);" class="page-link" (click)="paginationRef.prevPage()">
                                    <em class="icon ni ni-chevrons-left"></em>
                                </a>
                            </li>
                            <li class="page-item" *ngFor="let page of paginationResponse.pageControls" [class.active]="paginationRef.isPageActive(page)">
                                <a href="javascript:void(0);" class="page-link" (click)="paginationRef.setPage(page)">{{page}}</a>
                            </li>
                            <li class="page-item" [class.disabled]="paginationRef.isLast">
                                <a href="javascript:void(0);" class="page-link" (click)="paginationRef.nextPage()">
                                    <em class="icon ni ni-chevrons-right"></em>
                                </a>
                            </li>
                        </ul><!-- .pagination -->
                    </div>
                </div><!-- .nk-block-between -->
            </div>
        </div>
    </div>
</div><!-- .nk-block -->