
<div class="mt-4 pd-y-0">
    <div class="pd-x-10">
        
        <nav class="nav nav-sidebar tx-medium tx-13 pd-l-10">

          <a [routerLink]="menu.url" class="nav-link" *ngFor="let menu of  descriptionMenus; let i = index" [class.active]="i === 0">
             {{ menu.title }}</a>

        </nav>
    </div> 
</div>
