
<div class="nk-apps-brand p-3">
    <a *ngFor="let menu of uri" [routerLink]="[menu.url]">
        <img src="../../../assets/icons/SupplyXlogo.svg" height="50" width="60" alt="">
    </a>
</div>
<div class="nk-sidebar-element" *ngIf="user$ | async">
    <div class="nk-sidebar-body">
        <div class="nk-sidebar-content" data-simplebar>
            <div class="nk-sidebar-menu">
                <!-- Menu -->
                <ul class="nk-menu apps-menu">
                    <li class="nk-menu-item"  *ngFor="let menu of primaryMenu$ | async; index as i;" (click)="activateLink(i)" [class.active]="activeLinkIndex === i">
                        <a placement="right" container="body" [ngbTooltip]="menu.title" class="nk-menu-link" [routerLink]="[menu.url]" *ngIf="!menu.disabled" >
                            <span class="nk-menu-icon"><em class="icon ni ni-{{menu.icon}}"></em></span>
                        </a>
                        <a href="javascript:void(0)" class="nk-menu-link" title="{{ menu.title }}" *ngIf="menu.disabled">
                            <span class="nk-menu-icon"><em class="icon ni ni-{{menu.icon}}"></em></span>
                        </a>
                    </li>

                    
                </ul>

                
            </div>


            
        </div>
    </div>
</div>
