<ngx-slick-carousel class="carousel" id="sliderFor"
    #slickModal="slick-carousel" 
    [config]="slideConfig" 
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slider-item rounded">
        <img src="{{ slide }}" alt="" class="rounded w-100">
    </div>
</ngx-slick-carousel>

<ngx-slick-carousel class="carousel slider-nav" id="sliderNav"
    #slickModal="slick-carousel" 
    [config]="navSlidesConfig" 
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slider-item">
        <div class="thumb">
            <img src="{{ slide }}" alt="" class="rounded">
        </div>
    </div>
</ngx-slick-carousel>
