em {
    transition: 0.2s;
}

.acc-building {
    cursor: pointer;
}

.rotate {
    transform: rotateZ(90deg);
    transition: 0.2s ease;
}

.acc-floor-content {
    cursor: pointer;
}

.acc-floor-header {
    max-height: 0;
    overflow: hidden;
}

.floor-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2 ease-out;
}

.show {
    cursor: pointer;
    max-height: 500px;
    transition: 0.4 ease-out;
}
