<div class="acc">
    <div class="acc-item">
        <div class="acc-building d-flex align-items-center" id="B1" (click)="toggleBuilding()" >
            <em class="icon ni ni-forward-ios mr-2"></em>
            <input type="checkbox" style="width: 5%;">
            <p class="ml-2">Building 1</p>
        </div>
        <div class="acc-floor ml-4" >
            <div class="acc-floor-header d-flex align-items-center" id="F1"(click)="toggleFloor()" >
                <em class="icon ni ni-forward-ios mr-2"></em>
                <input type="checkbox" style="width: 5%;">
                <p class="ml-2">Floor 1</p>
            </div>
            <div class="floor-content ml-5" id="A1">
                <div class="d-flex align-items-center apartment">
                    <input type="checkbox"  style="width: 5%;">  
                    <a class="accordion-button ml-2 text"  data-toggle="collapse">Studio</a>
                    <span class="badge bg-primary ml-5 text-light">4</span> 
                </div>
                <div class="d-flex align-items-center apartment">
                    <input type="checkbox"  style="width: 5%;">  
                    <a class="accordion-button ml-2 text"  data-toggle="collapse">Standard 2 Bedroom</a>
                    <span class="badge bg-primary ml-5 text-light">7</span>
                </div>
                <div class="d-flex align-items-center apartment">
                    <input type="checkbox"  style="width: 5%;">  
                    <a class="accordion-button ml-2 text"  data-toggle="collapse">Deluxe</a>
                    <span class="badge bg-primary ml-5 text-light">3</span>
                </div>
            </div>
        </div>
    </div>
</div>