<div class="modal-content">
    <div href="#" class="close" data-dismiss="modal" aria-label="Close" mat-dialog-close>
        <em class="icon ni ni-cross"></em>
    </div>
    <div class="modal-header">
        <h5 class="modal-title">Review Changes</h5>
    </div>
    <div class="modal-body">
        <p>You have made changes. Do you want to discard or save them ?
        </p>
    </div>
    <div class="modal-footer bg-light">
        <app-button color="secondary" mat-dialog-close>Cancel</app-button>
        <app-button color="primary" (click)="discardChanges()">Discard</app-button>
        <app-button color="success" (click)="saveChanges()">Save</app-button>
    </div>
</div>