<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <p class="tx-28 page-title">Edit Profile</p>
        </div>
    </div>
    
    <div class="row mt-3">
       <div class="col-sm-12">
           <div class="card p-3">
               <div class="container">
                   <div class="row">
                       <div class="col">
                        <p class="page-title" style="font-size: 20px;">Profile Photo</p>
                        <img class="ml-3 mb-2" src="../../../assets/icons/uploadphoto-avatar.svg" height="80" width="80" alt=""><br>
                        <button type="button" class="btn btn-link">Upload Photo</button>
                        <hr>
                       </div>
                   </div>

                   <div class="row">
                        <div class="col">
                        <p class="page-title" style="font-size: 20px;">Personal Information</p>

                        <form action="" class="">

                            <div class="row form-group">
                            <div class="col-sm-2 mt-2">
                                <label class="tx-14 text-muted align-items-center">First Name</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="firstName" placeholder="Cody">
                            </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-sm-2 mt-2">
                                    <label class="tx-14 text-muted align-items-center">Last Name</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="lastName" placeholder="Fisher">
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-sm-2 mt-2">
                                    <label class="tx-14 text-muted align-items-center">Type</label>
                                </div>
                                <div class="col-sm-5">
                                    <select id="inputState" class="form-control">
                                        <option selected>Developer</option>
                                        <option>Supplier</option>
                                    </select>
                                </div>
                            </div>
            
                        </form>
                        <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                        <p class="page-title" style="font-size: 20px;">Contact Information</p>

                        <form action="" class="">

                            <div class="row form-group">
                            <div class="col-sm-2 mt-2">
                                <label class="tx-14 text-muted align-items-center">Email</label>
                            </div>
                            <div class="col-sm-3">
                              <p>Cody@gmail.com</p>
                            </div>

                            <div class="col-sm-6">
                                <a href="">Changew Email Address</a>
                            </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-sm-2 mt-2">
                                    <label class="tx-14 text-muted align-items-center">Mobile</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="mobile" placeholder="08938484321">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-sm-2 mt-2">
                                    <label class="tx-14 text-muted align-items-center">Phone</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="phone" placeholder="76122341">
                                </div>
                            </div>
            
                        </form>
                        <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                        <p class="page-title" style="font-size: 20px;">Address Information</p>

                        <form action="" class="">

                            <div class="row form-group">
                            <div class="col-sm-2 mt-2">
                                <label class="tx-14 text-muted align-items-center">Street</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="street" placeholder="2972 Westheimer Rd. Santa Ana">
                            </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-sm-2 mt-2">
                                    <label class="tx-14 text-muted align-items-center">State</label>
                                </div>
                                <div class="col-sm-5">
                                    <select id="inputState" class="form-control">
                                        <option selected>Illinois</option>
                                        <option>...</option>
                                      </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-sm-2 mt-2">
                                    <label class="tx-14 text-muted align-items-center">Country</label>
                                </div>
                                <div class="col-sm-5">
                                    <select id="inputState" class="form-control">
                                        <option selected>United States</option>
                                        <option>...</option>
                                      </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-sm-2 mt-2">
                                    <label class="tx-14 text-muted align-items-center">Zip Code</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="postalCode" placeholder="85486">
                                </div>
                            </div>
                            <hr>
                            
                            <div class="row">
                                <div class="col"><div><p class="page-title" style="font-size: 20px;">Security</p></div></div>
                            </div>
            
                            <div class="row mt-2">
                                <div class="col">
            
                                    <div class="row mb-2">
                                       <div class="col-sm-2"><div><p class="mb-0 text-muted">Password</p></div></div>
                                       <div class="col-sm-2"><div><p class="mb-0">********</p></div></div>
                                       <div class="col-sm-5"><div><a href="">Change Password</a></div></div>
                                    </div>
                            
                                </div>
                            </div>

                            <hr>

                            <div class="row mt-4 form-group">
                                <div class="col-sm-4">
                                    <button type="submit" class="btn  btn-outline-primary mr-3">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                                
                            </div>
            
                        </form>
                        
                        </div>
                    </div>

                    
                </div>

             </div>
       </div>
    </div>

   
</div>