<div class="row">
    <div class="col">
        <!-- <div><button class="btn btn-outline-primary" data-toggle="modal" data-target="#modalDefaultArea"><img src="../../../../../../assets/icons/add.svg" class="mr-1">Add Area</button></div> -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDefault">Add Area</button>
        <div class="modal fade" tabindex="-1" id="modalDefault">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <a href="#" class="close" id="add-area-close" data-dismiss="modal" aria-label="Close">
                        <em class="icon ni ni-cross"></em>
                    </a>
                    <div class="modal-header">
                        <h5 class="modal-title">Add Area</h5>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="addAreaForm">
                            <div class="container">
                                <div class="row form-group">
                                    <div class="col">
                                        <p class="form-label mb-1">Area Name (ex. Bedroom, Garage)</p>
                                        <input type="text" class="form-control" formControlName="name" id="area-name">
                                        <p class="form-label mt-1 mb-1">Count</p>
                                        <select class="form-control" formControlName="count">
                                            <option *ngFor="let val of [0, 1, 2, 3, 4, 5]" [ngValue]="val">{{ val}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col d-flex justify-content-end">
                                        <button type="button" data-dismiss="modal" class="btn btn-outline-primary mr-3">Cancel</button>
                                        <button type="button"  class="btn btn-primary" (click)="addArea()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>