<div class="card card-bordered card-preview">
    <table class="table table-tranx">
        <thead>
            <tr class="">
                <th class=""><span class="text-muted">Building No</span></th>
                <th class="">
                    <span class="tb-tnx-desc d-none d-sm-inline-block text-center">
                        <span class="text-muted">Number of floors</span>
                    </span>
                </th>
                <th class="">
                    <span class="tb-tnx-desc d-none d-sm-inline-block text-center">
                        <span class="text-muted">Sq.Ft</span>
                    </span>
                </th>
                <th class="d-flex justify-content-end">
                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger p-0" data-toggle="dropdown">
                        <em class="icon ni ni-more-h"></em></a>
                </th>
                
        </thead>
        <tbody>
            <tr class="tb-tnx-item" *ngFor="let building of _buildings">
                <td class="tb-tnx-id">
                    <span class="title">{{ building.name }}</span>
                </td>
                <td class="tb-tnx-info">
                    <div class="tb-tnx-desc text-center">
                        <span class="title ">{{ building.floorCount }}</span>
                    </div>
                </td>
                <td class="tb-tnx-info">
                    <div class="tb-tnx-desc text-center">
                        <span class="title ">-</span>
                    </div>
                </td>

                <td class="tb-tnx-info">
                    <div class="tb-tnx-desc text-center">
                        <span class="title "></span>
                    </div>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>