<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Projects</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                       
                                        <li class="nk-block-tools-opt">
                                            <a href="#" data-toggle="modal" data-target="#modalZoom" class="toggle btn btn-icon btn-primary d-md-none" [routerLink]="['add-project']"><em class="icon ni ni-plus"></em></a>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalZoom"><em class="icon ni ni-plus"></em><span>Add Project</span></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs" *ngIf="pagination$ | async; let pagination">
                        <div class="col-sm-6 col-lg-4 col-xxl-3" *ngFor="let project of pagination.data">
                            <app-project-cards [project]="project"></app-project-cards>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   

<app-add-project></app-add-project>
