<div class="card card-bordered card-preview">
    <table class="table table-tranx">
        <thead>
            <tr>
                <th><span class="text-muted">Model Preview</span></th>
                <th class="text-muted">Apartment/Model Name</th>
                <th><span class="text-muted">Sq.Ft.</span></th>
                <th><span class="text-muted">Areas</span></th>
                <th class="d-flex justify-content-end">
                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger p-0" data-toggle="dropdown">
                        <em class="icon ni ni-more-h"></em></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="link-list-opt no-bdr">
                                <li><a href="#"><em class="icon ni ni-edit"></em><span>Edit Selected</span></a></li>
                                <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove Selected</span></a></li>
                                <li><a href="#"><em class="icon ni ni-bar-c"></em><span>Update Stock</span></a></li>
                                <li><a href="#"><em class="icon ni ni-invest"></em><span>Update Price</span></a></li>
                            </ul>
                        </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="tb-tnx-item" *ngFor="let apartmentType of apartmentTypes; index as i">
                <td>
                   <video style="width: 100px; height: 70px;" src="../../../../../assets/Videos/pexels-polina-kovaleva-5644278.mp4"></video>
                </td>
                <td> {{ apartmentType.name }}</td>
                <td> {{ apartmentType.size }}</td>
                <td>{{ apartmentType.areas | apartmentTypeArea | ellipsis:40}}</td>
                <td class="d-flex justify-content-end">
                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger p-0" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="link-list-opt no-bdr">
                            <li><a class="ddown" (click)="editApartment(apartmentType)"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                            <li><a class="ddown" (click)="deleteApartmennt(apartmentType.id)"><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>