<div style="border: solid red; width: 230px;">
  <ng-select appearance="outline"  [(ngModel)]="selectedCar" class=" border-gray w-100 h-40 form-control me-2 ">
    <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
  </ng-select>
</div>

<!-- <div style="border: solid red; width: 300px; height: 60px;">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of cars" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</div> -->


<!-- <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
