<div class="nk-block nk-block-lg">
  <div class="nk-block-head">
    <div class="nk-block-head-content">
      <p class="ml-3" [routerLink]="['/shipping-information']" style="cursor:pointer;">Back</p>
      <h4 class="title nk-block-title ml-3">Payment</h4>
      <div class="nk-block-des">
        <p class="ml-3 pr-1">The transaction fee varies depending on the payment method chosen. More info</p>
      </div>
    </div>
  </div>
  <form [formGroup]="userprofileForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="card card-bordered">
            <div class="card-inner">
              <div class="">


                <div class=" d-flex justify-content-between">
                  <div class="ml-4">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                    <label class="form-check-label" for="gridRadios1">
                      <b>Credit/Debit Card</b>
                    </label>
                    <img src="/assets/images/master card.png" alt="" class="thumb ml-3">
                    <img src="/assets/images/visa.png" alt="" class="thumb ml-3">
                  </div>
                  <div class="form-check ">
                    <p>Payment Processing Time<b> 1-2 Hours</b></p>
                  </div>
                </div>


                <div class="mx-5">
                  <div class="form-outline  mt-4">
                    <label class="form-label">Card Number</label>
                    <input type="text" class="form-control" formControlName="cardNumber" />
                  </div>
                  <div class="row  mt-4">

                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" formControlName="firstName" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName" />
                      </div>
                    </div>
                  </div>
                  <div class="row  mt-4">

                    <div class="col">
                      <label class="form-label">Expire Date</label>
                      <div class="form-outline d-flex justify-content-between">
                        <input type="number" class="form-control w-40" formControlName="expireDate"> /
                        <input type="number" class="form-control w-40" formControlName="expireDate">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label">CVV/CSC</label>
                        <input type="text" class="form-control" formControlName="CVV" />
                      </div>
                    </div>
                  </div>
                  <div class="mt-4">
                    <b> Billing Address</b>
                  </div>
                  <div class="form-outline  mt-2">
                    <label class="form-label">Street</label>
                    <input type="text" class="form-control" formControlName="Street" />
                  </div>
                  <div class="row  mt-4">
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label">State</label>
                        <select name="" class="w-100" style="height:35px ; " formControlName="stateName">
                          <option value=""></option>
                          <option value="">US</option>
                          <option value="">Uk</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label">Country</label>
                        <input type="text" class="form-control" formControlName="countryName" />
                      </div>
                    </div>

                  </div>
                  <div class="row mt-4">
                    <div class="col-sm-6">
                      <div class="form-outline">
                        <label class="form-label">Zip Code</label>
                        <input type="text" class="form-control" formControlName="zipCOde" />
                      </div>
                    </div>
                  </div>

                  <div class="form-check mt-4">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label ">
                      Save this card for next payment and accept the Privacy Policy.
                    </label>
                  </div>


                </div>
                <hr>
                <div class=" d-flex justify-content-between">
                  <div class="ml-4">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios" value="option1">
                    <div class="d-flex " (click)="makePayment(10)">
                      <!-- <span role="button">Pay With Stripe</span> -->
                      <img src="/assets/images/stripe.png" style="width: 50px; height: 30px;" alt="" class="thumb ml-3">
                    </div>

                  </div>
                  <div class="form-check ">
                    <p>Payment Processing Time<b> 1-2 Hours</b></p>
                  </div>
                </div>
                <hr>
                <div class=" d-flex justify-content-between">
                  <div class="ml-4">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">

                    <img src="/assets/images/wise.png" alt="" class="thumb ml-3">

                  </div>
                  <div class="form-check ">
                    <p>Payment Processing Time<b> 1-2 Hours</b></p>
                  </div>
                </div>
                <hr>
                <div class=" d-flex justify-content-between">
                  <div class="ml-4">

                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                    <div id="myPaypalButtons"></div>
                  </div>
                  <div class="form-check ">
                    <p>Payment Processing Time<b> 1-2 Hours</b></p>
                  </div>
                </div>
                <hr>
                <div class=" d-flex justify-content-between">
                  <div class="ml-4">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">

                    <google-pay-button environment="TEST" buttonType="buy" buttonSizeMode="fill"
                      [paymentRequest]="paymentRequest" (loadpaymentdata)="onLoadPaymentData($event)">
                    </google-pay-button>
                  </div>
                  <div class="form-check ">
                    <p>Payment Processing Time<b> 1-2 Hours</b></p>
                  </div>
                </div>
                <hr>
                <div class=" d-flex justify-content-between">
                  <div class="ml-4">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">


                    <img src="/assets/images/Bank Transfers.png" alt="" class="thumb ml-3">
                  </div>
                  <div class="form-check ">
                    <p>Payment Processing Time<b> 1 Day</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-4">
          <app-order-summary-menu></app-order-summary-menu>
        </div>
      </div>
    </div>
  </form>
</div>
