<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <quill-view [content]="aboutUs" format="html" theme="snow"></quill-view>
        </div>
        <div class="col-sm-6">
            <div class="p-4 mt-4">
                <img *ngFor="let image of company.aboutImage;" style="height: 225px; width: 361px;" src={{image.url}} alt="">
            </div>
        </div>
    </div>
</div>
