<div class="toast-container ">
  <ngb-toast *ngIf="showToast" header="Warning" class="bg-warning" [autohide]="true" (hidden)="showToast=false">
    Image must be uploaded
  </ngb-toast>
</div>

<form action="">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true"><div class="toast-header"><strong class="me-auto text-primary">Bootstrap</strong><small>11 mins ago</small><button type="button" class="close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="toast-body">Hello, world! This is a toast message.</div></div>
    <div class="modal fade" tabindex="-1" id="modalDefault1" *ngIf="projectToUpdate?.specifications">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
                <div class="modal-header">
                    <h4>Note</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <h5 class="modal-title">Take will charge 200 usd. Do you want to proceed?</h5>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalDefault2"
                        data-dismiss="modal" (click)="initiateTakeOff()">Yes</button>
                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container p-1" *ngIf="!['INITIATED', 'COMPLETED'].includes(_project.takeOffStatus)">
    <div class="row mt-4">
        <div class="col">
            <div class="text-center">
                <h4 style="color: #526484;">Upload Drawing to create Take Off</h4>
                <p class="my-2" style="color: #526484;">Please upload your drawring for take off</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 mx-2 p-2" *ngFor="let spec of takeOffDocs">
            <div class="">
                <app-document-preview [role]="'2'" (removeImage)="onRemoveImage($event)" [src]="spec.url"></app-document-preview>
            </div>
        </div>
        <div class="col mx-3">
            <app-file-uploader #takeoffUploader (uploadedFiles)="loadDocument($event)"></app-file-uploader>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary p-2" (click)="checkImage()" data-toggle="modal" data-target="#modalDefault1" >Submit Drawing</button>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="_project.takeOffStatus === 'INITIATED'">
    <div class="row mt-4">
        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <img src="/assets/images/others/TakeOffFrame.svg" alt="">
                    <h5 style="color: #526484;">Processing Take Off Breakdown</h5>
                    <p>Please wait...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="_project.takeOffStatus === 'COMPLETED'">
    <div class="row">
        <div class="col">
            <app-takeoff-table></app-takeoff-table>
        </div>
    </div>
</div>
