<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Buyer Dasboard</h3>
                            <div class="nk-block-des text-soft">
                                <p>Welcome to SupplyX Cody.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs ">
                        <div class="col-lg-7 flex-column  col-xxl-5">
                            <div class="card card-bordered ">
                                <div class="card-inner">
                                    <div class="card-title-group pb-3 g-2">
                                        <div class="card-title card-title-sm">
                                            <h6 class="title">Project Overview</h6>
                                        </div>
                                        <div class="card-tools ">
                                            <select name="projectdd" id="project-selector" class="form-select form-control" [(ngModel)]="selectedProject">
                                                <option [ngValue]="project" *ngFor="let project of projects"> {{ project.name }}</option>
                                            </select>
                                        </div>
                                    </div>

                                   <div class="row" *ngIf="selectedProject">
                                       <div class="col-sm-2">
                                            <div class="card card-bordered">
                                                <img src="{{ selectedProject.image.url }}" width="80" height="80" alt="" *ngIf="selectedProject && selectedProject.image">
                                                <img [src]="'assets/images/no-image-available.png'" width="80" height="80"  alt="" *ngIf="!(selectedProject && selectedProject.image)">
                                            </div>
                                       </div>
                                       <div class="col">
                                            <div>
                                                <h6 class="">{{ selectedProject?.name}}</h6>
                                                <p>{{ selectedProject.type}}</p>
                                                <div class="d-flex">
                                                    <div><p class="text-primary">{{ selectedProject.buildings.length }} Building</p></div>
                                                    <div><p class="ml-3 text-primary">|</p></div>
                                                    <div><p class="text-primary mx-3">{{ selectedProject.buildings | floorPipe }} Floor</p></div>
                                                    <div><p class="mr-3 text-primary">|</p></div>
                                                    <div><p class="text-primary">{{ selectedProject.apartmentTypes.length}} Apartment</p></div>
                                                </div>
                                            </div>
                                       </div>
                                   </div> 
                                   
                                   <hr>

                                   <div class="row">
                                       <div class="col">
                                           <div><p class="title mb-1" style="font-size: 14px; font-weight: bold;">Products Added</p><h5 class="text-primary">0</h5></div>
                                       </div>
                                       <div class="col">
                                        <div><p class="title mb-1" style="font-size: 14px; font-weight: bold;">Total Product Quantities</p><h5 class="text-primary">0</h5></div>
                                       </div>
                                       <div class="col">
                                        <div><p class="title mb-1" style="font-size: 14px; font-weight: bold;">Total Project Cost</p><h5 class="text-primary">0</h5></div>
                                       </div>
                                   </div>
                                </div>
                            </div><!-- .card -->
                                
                            <div class="card card-bordered">
                                <div class="card-inner">
                                    <div class="card-title-group">
                                        <div class="card-title card-title-sm">
                                            <h6 class="title">Latest Product you might be interested in</h6>
                                        </div>
                                        <div class="card-tools">
                                            <div class="drodown">
                                                <a [routerLink]="['/market-place']">View All</a>
                                            </div>
                                        </div>
                                    </div>


                                    <div [routerLink]="['/products/product-description/', product.id]" class="row mt-3" *ngFor="let product of products$ | async | slice: 0:4;">
                                        <div class="col">
                                            <div class="d-flex">
                                                <div><img class="rounded" src= "{{product.images[0].url}}" height="80" width="80" alt="No Image"></div>
                                                <div class="px-3 py-2 align-items-center">
                                                    <p class="mb-1">{{ product.productName}}</p>
                                                           
                                                    <p class="text-primary" style="font-size: 15px;">$ {{product.price}}</p>
                                                </div>
                                            </div>
                                            <hr class="mb-1">
                                        </div>
                                    </div>
                            

                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->

                        <div class="col-md-6 col-xxl-5">
                            <div class="card card-bordered">
                                <div class="card-inner">
                                    <div class="card-title-group">
                                        <div class="card-title card-title-sm">
                                            <h6 class="title">Recent Activities</h6>
                                        </div>
                                        <div class="card-tools">
                                            <div class="drodown">
                                                <a href="">View All</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <p class="mb-0">You added product in <span class="text-primary">Archer Villas</span></p>
                                            <p class="text-muted"><span class="mr-1">2</span>hrs ago</p>
                                            <hr class="my-1">
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <p class="mb-0">You uploaded files in <span class="text-primary">Archer Villas</span></p>
                                            <p class="text-muted"><span class="mr-1">2</span>hrs ago</p>
                                            <hr class="my-1">
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="d-flex">
                                                <div><img class="rounded" src="../../../assets/Products/Rectangle 521.jpg" height="80" alt=""></div>
                                                <div class="px-3 py-2 align-items-center">
                                                    <p class="mb-1">Your Order has been <span style="font-weight: bold;">confirmed for payment</span></p>
                                                    <p>2 <span>hrs ago</span></p>
                                                </div>
                                            </div>
                                            <hr class="mb-1">
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col">
                                            <p class="mb-0">You created new project <span class="text-primary">Archer Villas</span></p>
                                            <p class="text-muted"><span class="mr-1">2</span>hrs ago</p>
                                            <hr class="my-1">
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="d-flex">
                                                <div><img class="rounded" src="../../../assets/Products/Rectangle 521.jpg" height="80" alt=""></div>
                                                <div class="px-3 py-2 align-items-center">
                                                    <p class="mb-1">You uploaded files in <span class="text-primary" style="font-weight: bold;">Archer Villas Project</span></p>
                                                    <p>2 <span>hrs ago</span></p>
                                                </div>
                                            </div>
                                            <hr class="mb-1">
                                        </div>
                                    </div>

                                </div>
                            </div><!-- .card -->

                            <div class="card card-bordered">
                                <div class="card-inner">
                                    <div class="card-title-group pb-3 g-2">
                                        <div class="card-title card-title-sm">
                                            <h6 class="title">Last Viewed Project</h6>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <div class="d-flex">
                                                <div><img class="rounded" src="../../../assets/Products/Rectangle 521.jpg" height="80" alt=""></div>
                                                <div class="px-3 py-2 align-items-center">
                                                    <p class="mb-1" style="font-weight: bold;">Lights, E26 Base Brushed Nickel Hanging </p>
                                                    <p class="text-primary" style="font-size: 15px;">$ 324</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .card -->
                            </div>
                        
                    </div><!-- .row -->

                    
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
