<div class="nk-app-root">
    <div class="nk-apps-sidebar is-theme" style="background-color:#2A3676;">
        <app-primary-sidebar></app-primary-sidebar>
    </div>
    <!-- main @s -->
    <div class="nk-main ">
        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            <div class="nk-header nk-header-fixed is-light">
                <div class="container-fluid">
                    <app-header></app-header>
                </div>
            </div>
            <!-- main header @e -->
            <div class="nk-sidebar" data-content="sidebarMenu">
                <app-secondary-sidebar></app-secondary-sidebar>
            </div>
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>

