<div class="nk-block">
  <div class="py-2">
    <h2>Product Cart</h2>
  </div>
  <div class="card card-bordered">
    <div class="card-inner-group">
      <div class="card-inner p-0">
        <div class="nk-tb-list">
          <div class="nk-tb-item nk-tb-head">
            <div class="nk-tb-col nk-tb-col-check">
              <div class="custom-control custom-control-sm custom-checkbox notext">
                <input type="checkbox" class="custom-control-input" id="pid" (change)="selectAllItems($event)" />
                <label class="custom-control-label" for="pid"></label>
              </div>
            </div>
            <div class="nk-tb-col tb-col-sm"><span>Product Name</span></div>
            <div class="nk-tb-col"><span>Product Id</span></div>
            <div class="nk-tb-col"><span>Quantity</span></div>
            <div class="nk-tb-col nk-tb-col-tools">
              <ul class="nk-tb-actions gx-1 my-n1">
                <li class="mr-n1">
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em
                        class="icon ni ni-more-h"></em></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <ul class="link-list-opt no-bdr">
                        <li>
                          <a href="javascript:void(0);" (click)="checkout()"><em
                              class="icon ni ni-edit"></em><span>Checkout Selected</span></a>
                        </li>
                        <li>
                          <a href="javascript:void(0);"><em class="icon ni ni-trash"></em><span>Remove
                              Selected</span></a>
                        </li>
                        <li>
                          <a href="javascript:void(0);" (click)="editCartItem()"><em class="icon ni ni-edit"></em><span>Update Cart</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <ng-container *ngFor="let item of productCartItems; index as i">
            <div class="nk-tb-item nk-tb-head">
              <div class="nk-tb-col nk-tb-col-check">
                <div class="custom-control custom-control-sm custom-checkbox notext">
                  <input type="checkbox" class="custom-control-input" [checked]="item.selected" [value]="item.id"
                    id="check{{item.id}}" (change)="OnChangeItem($event,item,i)" />

                  <label class="custom-control-label" for="check{{item.id}}"></label>
                </div>
              </div>
              <div class="nk-tb-col tb-col-sm">
                <span class="tb-product" [routerLink]="['../products/product-description', item.id]">
                  <img class="mr-5" style="height: 40px" [src]="item.images[0].url"
                    *ngIf="item?.images && item.images.length > 0" alt="alternative" />
                  <span class="title">{{ item?.productName }}</span>
                </span>
              </div>
              <div class="nk-tb-col">
                <span class="tb-sub">{{ item.id }}</span>
              </div>
              <div class="nk-tb-col">
                <em class="icon ni ni-minus border mx-1 h-10 btn-primary" (click)="SubQuantity( $event,item,i)"></em>
                <span class="tb-sub">{{ item.quantity }}</span>
                <em class="icon ni ni-plus border mx-1  btn-success" (click)="AddQuantity( $event,item,i)"></em>
              </div>

              <div class="nk-tb-col nk-tb-col-tools">
                <ul class="nk-tb-actions gx-1 my-n1">
                  <li class="mr-n1">
                    <div class="dropdown">
                      <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em
                          class="icon ni ni-more-h"></em></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <ul class="link-list-opt no-bdr">
                          <li>
                            <a href="javascript:void(0);" [routerLink]="['product-description', item.id]"><em
                                class="icon ni ni-eye"></em><span>View Details</span></a>
                          </li>

                          <li>
                            <a href="javascript:void(0);" (click)="deleteProductRow(item.id)"><em
                                class="icon ni ni-trash"></em><span>Delete</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="card-inner">
        <div class="nk-block-between-md g-3">
          <div class="g">
            <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
              <div>Per Page</div>
              <div>
              </div>
            </div>
          </div>
          <div class="g">
            <ul class="pagination justify-content-center justify-content-md-start">
              <li class="page-item" [class.disabled]="paginationRef?.isFirst">
                <a href="javascript:void(0);" class="page-link" (click)="paginationRef.prevPage()">
                  <em class="icon ni ni-chevrons-left"></em>
                </a>
              </li>
              <li class="page-item" *ngFor="let page of paginationResponse?.pageControls"
                [class.active]="paginationRef.isPageActive(page)">
                <a href="javascript:void(0);" class="page-link" (click)="paginationRef.setPage(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="paginationRef?.isLast">
                <a href="javascript:void(0);" class="page-link" (click)="paginationRef.nextPage()">
                  <em class="icon ni ni-chevrons-right"></em>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
