<ng-container *ngIf="type === 'VIDEO'">
    <div class="preview" >
        <video class="attachment-video-preview rounded mx-auto d-block" controls>
            <source [src]="_src" type="video/mp4">
        </video>
        <div class="check-control" >
            <div class="custom-control custom-control-sm custom-checkbox notext">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"></label>
            </div>
            <div><em class="icon ni ni-arrow-long-down" (click)="downloadMyFile()"></em></div>
        </div>

        <div class="control-layer" *ngIf="role === '2'">
            <button  (click)="downloadMyFile()" type="button" class="mb-2 p-1 px-2 btn btn-primary" >View</button>
            <button type="button" class="p-1 btn btn-danger" (click)="onRemoveImage()">Remove</button>
        </div>

    </div>
</ng-container>

<ng-container *ngIf="type === 'IMG'">
    <div class="preview" >
        <img src="{{ _src }}" alt="{{ _src }}" data-id="123">
        <div class="check-control" *ngIf="role === '1'">
            <div class="custom-control custom-control-sm custom-checkbox notext">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"></label>
            </div>
            <div><em class="icon ni ni-download" (click)="downloadMyFile()"></em></div>
        </div>
        <div class="control-layer" *ngIf="role === '2'">
            <button  (click)="downloadMyFile()" type="button" class="mb-2 p-1 px-2 btn btn-primary" >View</button>
            <button type="button" class="p-1 btn btn-danger" (click)="onRemoveImage()">Remove</button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="type === 'PDF'">
 
    <div class="preview">
        <img src="../../../assets/icons/pdf-icon-png-2072.png" alt="{{ _src }}" data-id="123">
        <div class="check-control" *ngIf="role === '1'">
            <div class="custom-control custom-control-sm custom-checkbox notext">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"></label>
            </div>
            <div><em class="icon ni ni-download" (click)="downloadMyFile()"></em></div>
        </div>
        <div class="control-layer"  *ngIf="role === '2'">
            <button  (click)="downloadMyFile()" type="button" class="mb-2 p-1 px-2 btn btn-primary" >View</button>
            <button type="button" class="p-1 btn btn-danger" (click)="onRemoveImage()">Remove</button>
        </div>
    </div>

</ng-container>

<ng-container *ngIf="type === 'EXCEL'">
    
    <div class="preview" >
        <img src="../../../assets/icons/icons8-microsoft-excel-2019-240.png"/>
        <div class="check-control" *ngIf="role === '1'">
            <div class="custom-control custom-control-sm custom-checkbox notext">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"></label>
            </div>
            <div><em class="icon ni ni-download" (click)="downloadMyFile()"></em></div>
        </div>
        <div class="control-layer" *ngIf="role === '2'" >
            <button  (click)="downloadMyFile()" type="button" class="mb-2 p-1 px-2 btn btn-primary" >View</button>
            <button type="button" class="p-1 btn btn-danger" (click)="onRemoveImage()">Remove</button>
        </div>
    </div>
</ng-container>
