* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.attachment-preview {
    min-width: 140px;
    min-height: 140px;
    max-width: 180px;
    max-height: 180px;
    padding: 10px;
    border-radius: 4px;
}

.attachment-video-preview {
    min-width: 140px;
    min-height: 140px;
    max-width: 230px;
    max-height: 180px;
    width: 230px;
    height: 180px;
    padding: 5px;
    border-radius: 4px;
    object-fit: cover;
}

.preview {
    position: relative;
    overflow: hidden;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 1px rgb(164, 163, 163);
}

 .preview img {
    width: 50%;
    display: block;
    transition: 0.5s;
    text-align: center;
}

.control-layer {
    width: 100%;
    height: 0;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgb(219, 216, 216));
    border-radius:4px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.check-control{
    width: 100%;
    height: 100%;
    border-radius:4px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 30px;
}

.ni-download{
    cursor: pointer;
}

/* .preview:hover img {
    transform: scale(1.1);
} */

.preview:hover .control-layer {
    height: 100%;
}





