<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <p class="tx-28 page-title">Edit Profile</p>
        </div>
    </div>
    
    <div class="row mt-3">
       <div class="col-sm-12">
           <div class="card p-3">
               <div class="container">
                   <form action="" [formGroup]="sellerForm">
                        <div class="row">
                            <div class="col">
                                <p class="page-title" style="font-size: 20px;">Profile Photo</p>
                                <img class="ml-3 mb-2" src="../../../assets/icons/uploadphoto-avatar.svg" height="80" width="80" alt=""><br>
                                <div><app-file-uploader #profileUploader (uploadedFiles)="loadBannerImage($event)"></app-file-uploader></div>
                                <hr>
                            </div>
                        </div>


                    <div class="row">
                        <div class="col">
                            <p class="page-title" style="font-size: 20px;">Personal Information</p>
                            <div class="row form-group">
                                <div class="col-sm-2 mt-2">
                                    <label class="tx-14 text-muted align-items-center">First Name</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" formControlName="firstName" class="form-control" name="firstName">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-sm-2 mt-2">
                                    <label class="tx-14 text-muted align-items-center">Last Name</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" formControlName="lastName" name="lastName">
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-sm-2 mt-2">
                                    <label class="tx-14 text-muted align-items-center">Type</label>
                                </div>
                                <div class="col-sm-5">
                                    <select id="inputState"  class="form-control">
                                        <option selected>Developer</option>
                                        <option>Supplier</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                <p class="page-title" style="font-size: 20px;">Contact Information</p>
        
                                    <div class="row form-group">
                                    <div class="col-sm-2 mt-2">
                                        <label class="tx-14 text-muted align-items-center">Email</label>
                                    </div>
                                    <div class="col-sm-3">
                                    <p>Cody@gmail.com</p>
                                    </div>
        
                                    <div class="col-sm-6">
                                        <a href="">Change Email Address</a>
                                    </div>
                                    </div>
        
                                    <div class="row form-group">
                                        <div class="col-sm-2 mt-2">
                                            <label class="tx-14 text-muted align-items-center">Mobile</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" formControlName="mobile" class="form-control" name="mobile">
                                        </div>
                                    </div>
        
                                    <div class="row form-group">
                                        <div class="col-sm-2 mt-2">
                                            <label class="tx-14 text-muted align-items-center">Phone</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" formControlName="phone" class="form-control" name="phone">
                                        </div>
                                    </div>
        
                                <hr>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                <p class="page-title" style="font-size: 20px;">Address Information</p>
        
                                    <div class="row form-group">
                                        <div class="col-sm-2 mt-2">
                                            <label class="tx-14 text-muted align-items-center">Country</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <select id="inputState" formControlName="country" class="form-control">
                                                <option selected>Choose...</option>
                                                <option [ngValue]="country" *ngFor="let country of countries">{{country.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-sm-2 mt-2">
                                            <label class="tx-14 text-muted align-items-center">State</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <select id="inputState" formControlName="state" class="form-control">
                                                <option selected>Choose...</option>
                                                <option [ngValue]="state" *ngFor="let state of states">{{state.name}}</option>
                                            
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-sm-2 mt-2">
                                            <label class="tx-14 text-muted align-items-center">Street</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" formControlName="street" class="form-control" name="street">
                                        </div>
                                    </div>
        
                                    <div class="row form-group">
                                        <div class="col-sm-2 mt-2">
                                            <label class="tx-14 text-muted align-items-center">Zip Code</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" formControlName="zipCode" class="form-control" name="zipCode">
                                        </div>
                                    </div>
                                    <hr>
                                    
                                    <div class="row">
                                        <div class="col"><div><p class="page-title" style="font-size: 20px;">Security</p></div></div>
                                    </div>
                    
                                    <div class="row mt-2">
                                        <div class="col">
                    
                                            <div class="row mb-2">
                                            <div class="col-sm-2"><div><p class="mb-0 text-muted">Password</p></div></div>
                                            <div class="col-sm-2"><div><p class="mb-0">********</p></div></div>
                                            <div class="col-sm-5"><div><a href="">Change Password</a></div></div>
                                            </div>
                                    
                                        </div>
                                    </div>
        
                                    <hr>
        
                                    <div class="row mt-4 form-group">
                                        <div class="col-sm-4">
                                            <button type="button" class="btn  btn-outline-primary mr-3" (click)="submitForm()">Cancel</button>
                                            <button type="button" class="btn btn-primary" (click)="submitData()">Save</button>
                                        </div>
                                        
                                    </div>
                    
                                </div>
                            </div>
                        </div>
                    </div>
                   </form>
                   
                </div>
            </div>
       </div>
    </div>

</div>

