<div class="container">
    <div class="row">
        <div class="col">
            <a class="text-muted" (click)="backToProject()" style="cursor: pointer;">Back</a>
            <h4 class="nk-block-title">Add Apartment Type</h4>
            <p>Please fill details below to add your apartment type</p>
        </div>
        <div class="col d-flex justify-content-end">
            <div class="mr-2"><a href="javascript:void(0)" (click)="backToProject()" class="btn btn-outline-primary">Cancel</a></div>
            <div><app-button [type]="'submit'" (click)="saveApartmentType()">Save</app-button></div>
        </div>
    </div>
    <form [formGroup]="addApartmentForm" (ngSubmit)="saveApartmentType()">
    <div class="row mt-4">
        <div class="col-sm-8">

                <div>
                <div class="row form-group">
                    <div class="col">
                        <div> <p class="form-label mb-1">Apartment/Model Name (ex. studio, 2BR, Deluxe)</p></div>
                        <input type="text" class="form-control" formControlName="name" id="apartment-name" placeholder="Standard 2 Bedroom ">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col">
                        <div> <p class="form-label mb-1">Size (Sq.Ft.)</p></div>
                        <input type="text" class="form-control" formControlName="size" id="apartment-size">
                    </div>
                </div>

                <div> <h6 class=" mb-1">Areas</h6></div>

                <div class="row mt-3 form-group">
                    <div formArrayName="areas" class="col-sm-4"
                        *ngFor="let area of getAreas.controls; let i=index">
                        <div class="d-flex mb-2 align-items-center" formGroupName="{{i}}">
                            <div class="mr-2" style="min-width: 80px;"><p class="mb-1"> {{ area.get('name')?.value }}</p></div>
                            <div>
                                <select class="form-select form-control" (change)="setArea($event)" >
                                    <option selected>0</option>
                                    <option value="{{val}}" *ngFor="let val of [1, 2, 3, 4, 5]" [ngValue]="val" >{{ val}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <app-add-area-dialog (onAdd)="addArea($event)"></app-add-area-dialog>
            </div>
        </div>
        <div class="col-sm-4 px-3">
            <div><p class="form-label">Model Apartment Preview</p>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card border mt-1" style="height: 30vmin;">
                            <!-- <iframe  width="300" height="315" allowfullscreen src="https://www.youtube.com/watch?v=y9j-BL5ocW8?autoplay=1" allow='autoplay'></iframe> -->
                            <video *ngIf="videoPreviewuRL"  width="300" autoplay [src]="videoPreviewuRL"></video>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <input formControlName="youtubeLink"
                        type="text" class="form-control" id="default-01"
                        placeholder="Paste youtube link here">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <a href="#" data-toggle="modal" data-target="#videoUploader" class="btn btn-outline-primary btn-block">Upload your video</a>
                        <form [formGroup]="videoForm" (ngSubmit)="uploadVideo()">
                            <div class="modal fade" tabindex="-1" id="videoUploader">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                            <em class="icon ni ni-cross"></em>
                                        </a>
                                        <div class="modal-header">
                                            <h5 class="modal-title">Upload you Video here</h5>
                                        </div>
                                        <div class="modal-body">
                                            <app-document-preview *ngIf="finalVideo[0]?.url" [src]="finalVideo[0].url" ></app-document-preview>
                                            <app-file-uploader (uploadedFiles)="loadProjectVideo($event)"></app-file-uploader>
                                        </div>
                                        <div class="modal-footer bg-light">
                                            <button type="submit" data-dismiss="modal" class="btn btn-outline-primary">Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

