<div class="input-group mb-3">
    <div class="input-group-prepend spinner-btn" (click)="spinner(-1)">
        <span class="input-group-text">-</span>
    </div>
    <input type="text" [(ngModel)]="count" class="form-control" aria-label="Amount (to the nearest dollar)" #input>
    <div class="input-group-append" (click)="spinner(1)">
        <span class="input-group-text">+</span>
    </div>
</div>