<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Biddings</h3>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col">
                            <div class="card card-bordered h-100">
                                <div class="card-inner p-0">
                                    <div class="row">
                                        <div class="col-sm-3 border-right">
                                            <div class="py-2 px-2">
                                                <p class="text-muted">Select Project</p>
                                                <div class="px-2">
                                                    <div class="nk-sidebar-inner p-0">

                                                        <ul class="nk-menu nk-menu-md">
                                                            <li class="nk-menu-item" active>
                                                                <a href="html/index.html" class="nk-menu-link">
                                                                    <span class="nk-menu-text">Crest At Woodmens Apartments</span>
                                                                </a>
                                                            </li><!-- .nk-menu-item -->

                                                            <li class="nk-menu-item">
                                                                <a href="html/index.html" class="nk-menu-link">
                                                                    <span class="nk-menu-text">Fairfield Inn</span>
                                                                </a>
                                                            </li><!-- .nk-menu-item -->

                                                            
                                                            <li class="nk-menu-item">
                                                                <a href="html/index.html" class="nk-menu-link">
                                                                    <span class="nk-menu-text">Uncategorize</span>
                                                                </a>
                                                            </li><!-- .nk-menu-item -->
                                                        </ul><!-- .nk-menu -->
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                        <div class="col">
                                            <div class="row p-3">
                                                <div class="col-sm-2">
                                                    <h5 class="sub-title">Categories</h5>
                                                </div>
                                                <div class="col">
                                                    <div class="d-flex justify-content-end">
                                                        <div >
                                                            <select class="form-control">
                                                                <option>All Categories</option>
                                                            </select>
                                                        </div>
                                                        <div class="mx-3">
                                                            <input class="form-control" type="text" placeholder="Default input">
                                                        </div>
                                                        <div>
                                                            <a href="#" class="btn btn-primary">View Drawing</a>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col pl-0">
                                                    <table class="table">
                                                        <thead>
                                                          <tr>
                                                            <th scope="col">Category Name</th>
                                                            <th scope="col">Invited Manufacturer</th>
                                                            <th scope="col">Submitted Bids</th>
                                                            <th scope="col">Decline Invitation</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>

                                                    <div id="accordion" class="accordion">
                                                        <div class="accordion-item">
                                                            <a href="#" class="accordion-head" data-toggle="collapse" data-target="#accordion-item-1">
                                                                <div class="d-flex justify-content-between">
                                                                    <h6 class="title">Bath Accessories</h6>
                                                                    <p class="text-center">3</p>
                                                                    <p>2</p>
                                                                    <p>1</p>
                                                                    <span class="accordion-icon"></span>
                                                                </div>

                                                            </a>
                                                            <div class="accordion-body collapse show" id="accordion-item-1" data-parent="#accordion">
                                                                <div class="accordion-inner">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                                </div>
                                                            </div>
                                                        </div>
            
                                                      </div>  
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   



