

<div class="toast-container ">
    <ngb-toast *ngIf="showToast" header="sucess" class="bg-success-dim" [autohide]="true" (hidden)="showToast=false">
      Add To cart sucess
    </ngb-toast>
  </div>

<div>
    <div>
        <div>
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Market Place</h3>
                    </div>
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
                                    class="icon ni ni-more-v"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-3">
                                    <li>
                                        <a class="btn p-0" (click)="enableCard()"><img class="p-0"
                                                src="../../../../assets/icons/rectangle.svg"></a>
                                    </li>
                                    <li>
                                        <a class="btn p-0" (click)="enableTable()"><img class="p-0" src="../../../../assets/icons/list.svg"></a>
                                    </li>
                                    <li>
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-right">
                                                <em class="icon ni ni-search"></em>
                                            </div>
                                              <!-- <app-searchable-dropdown [getAllProductsData]="getAllProductsData" ></app-searchable-dropdown> -->
                                           <!--  <input class="form-control me-2" type="search" placeholder="Search"
                                                aria-label="Search" (change)="getAllProductsByKey($event)" /> -->


                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete
s                                                       [data]="data"
                                                        [searchKeyword]="keyword"
                                                        placeholder="SearchProducts"
                                                        (selected)='selectEvent($event)'
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)'
                                                        [itemTemplate]="itemTemplate"
                                                        (inputCleared)="onInputCleared()"
                                                        [notFoundTemplate]="notFoundTemplate">
                                                    </ng-autocomplete>

                                                    <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.name"></a>
                                                    </ng-template>

                                                    <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                    </div>
                                        </div>
                                    </li>
                                    <li class="nk-block-tools-opt">
                                        <a href="#" data-target="addProduct"
                                            class="toggle btn btn-icon btn-primary d-md-none"><em
                                                class="icon ni ni-plus"></em></a>
                                        <a [routerLink]="['add-product']" data-target="addProduct"
                                            class="toggle btn btn-primary d-none d-md-inline-flex"><em
                                                class="icon ni ni-plus"></em><span>Add Product</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" mt-9 d-flex-row border d-flex align-items-center justify-between bg-white">
                    <button type="button" class="btn btn-white" (click)="clearFilters()">
                        <h6>All Category</h6>
                    </button>
                    <button *ngFor="let item of productsCategories | slice:0:6; index as i" type="button"
                        class=" d-flex-row btn btn-white">
                        <h6 *ngIf="i<6 && item" (click)="selectCategory(item)">{{item}}</h6>
                    </button>
                <button type="button" class="btn btn-white" data-toggle="dropdown"><em
                        class="icon ni ni-more-h"></em></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="link-list-opt" *ngFor="let item of productsCategories  index as i">
                        <li *ngIf="i>5 && item != undefined"><a (click)="selectCategory(item)"><span>{{item}}</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="nk-block mt-9"  *ngIf="enableList">
            <div class="row g-gs">
                <div class="col-xxl-3 col-lg-4 col-sm-6" *ngFor="let item of getAllProductsData index as i">
                    <div class="card card-bordered product-card"
                        >
                        <div class="product-thumb" style="height: 500px; width: 100%;">
                            <a [routerLink]="['../products/product-description', item.id]">
                                <img class="card-img-top" style="height: 450px;" [src]="item.images[0].url"
                                    *ngIf="item?.images && item.images.length  > 0" alt="alternative">
                            </a>
                            <ul class="product-badges">
                                <li><span class="badge badge-success">New</span></li>
                            </ul>
                            <ul class="product-actions">
                                <li ><a (click)="addToCart(item)" ><em class="icon ni ni-cart niIcon" ></em></a></li>
                                <li><a href="#"><em class="icon ni ni-heart niIcon"></em></a></li>
                            </ul>
                        </div>
                        <div class="card-inner text-center" [routerLink]="['../products/product-description', item.id]">
                            <ul class="product-tags">
                                <li><a>{{item.productName}}</a></li>
                            </ul>
                            <h5 class="product-title"><a>{{item.category?.name}}</a></h5>
                            <div class="product-price text-primary h5">${{item.price}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="nk-block" *ngIf="enableWindow">
            <div class="py-2">
            </div>
            <div class="card card-bordered">
                <div class="card-inner-group" >
                    <div class="card-inner p-0">
                        <div class="nk-tb-list">
                            <div class="nk-tb-item nk-tb-head">
                                <div class="nk-tb-col nk-tb-col-check" >
                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                        <input type="checkbox" class="custom-control-input" id="pid">
                                        <label class="custom-control-label" for="pid"></label>
                                    </div>
                                </div>
                                <div class="nk-tb-col tb-col-sm"><span>Product Name</span></div>
                                <div class="nk-tb-col"><span>Category Id</span></div>
                                <div class="nk-tb-col"><span>Catlog Name</span></div>
                                <div class="nk-tb-col"><span>Price</span></div>
                                <div class="nk-tb-col nk-tb-col-tools">
                                    <ul class="nk-tb-actions gx-1 my-n1">
                                        <li class="mr-n1">
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle btn btn-icon btn-trigger" ><em class="icon ni ni-more-h"></em></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ng-container *ngFor="let item of getAllProductsData index as i">
                                <div class="nk-tb-item" >
                                    <div class="nk-tb-col nk-tb-col-check" >
                                     <div class="custom-control custom-control-sm custom-checkbox notext">
                                            <input type="checkbox" class="custom-control-input" [id]="productIds[i]?.productId" [value]="productIds[i]?.checked" >
                                             <label class="custom-control-label" [for]="item.id"></label>
                                        </div>
                                    </div>
                                    <div class="nk-tb-col tb-col-sm">
                                        <span class="tb-product"  [routerLink]="['product-description', item.id]">
                                            <img class=" mr-5" style=" height : 40px;" [src]="item.images[0].url"
                                    *ngIf="item?.images && item.images.length  > 0" alt="alternative">
                                            <span class="title">{{item.productName}}</span>
                                        </span>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="tb-sub">{{item.category?.id}}</span>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="tb-sub">{{item.category?.name}}</span>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="tb-sub">${{item.price}}</span>
                                    </div>


                                    <div class="nk-tb-col nk-tb-col-tools">
                                        <ul class="nk-tb-actions gx-1 my-n1">
                                            <li class="mr-n1">
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <ul class="link-list-opt no-bdr">
                                                            <li><a href="javascript:void(0);" [routerLink]="['product-description', item.id]"><em class="icon ni ni-eye"></em><span>View Details</span></a></li>
                                                            <li><a href="javascript:void(0);" (click)="ddAction('CATALOG', item)" ><em class="icon ni ni-edit"></em><span>Add to Catalog</span></a></li>
                                                            <li><a href="javascript:void(0);" (click)="ddAction('INACTIVE', item)" ><em class="icon ni ni-eye-off"></em><span>Mark as Inactive</span></a></li>
                                                            <li><a href="javascript:void(0);" (click)="ddAction('EDIT', item)" ><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                            <li><a href="javascript:void(0);" (click)="ddAction('DELETE', item)" ><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="card-inner">
                        <div class="nk-block-between-md g-3">
                            <div class="g">
                                <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                                    <div>Per Page</div>
                                    <div>

                                    </div>
                                </div>
                            </div>
                            <div class="g" >
                                <ul class="pagination justify-content-center justify-content-md-start">
                                    <li class="page-item" [class.disabled]="paginationRef?.isFirst">
                                        <a href="javascript:void(0);" class="page-link" (click)="paginationRef.prevPage()">
                                            <em class="icon ni ni-chevrons-left"></em>
                                        </a>
                                    </li>
                                    <li class="page-item" *ngFor="let page of paginationResponse?.pageControls" [class.active]="paginationRef.isPageActive(page)">
                                        <a href="javascript:void(0);" class="page-link" (click)="paginationRef.setPage(page)">{{page}}</a>
                                    </li>
                                    <li class="page-item" [class.disabled]="paginationRef?.isLast">
                                        <a href="javascript:void(0);" class="page-link" (click)="paginationRef.nextPage()">
                                            <em class="icon ni ni-chevrons-right"></em>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
