
.span1 {
    display: inline-block;
    width: 90%;
    white-space: nowrap;
    overflow: hidden !important;
    word-spacing: 3px;
    justify-content: space-between;
  
}
.niIcon{
font-size:larger;
}

.ni-cart:hover {
    cursor: pointer;
}

.ng-autocomplete  {
    margin-top: 5px;
    width: 250px;
}

.ng-autocomplete {
    ::ng-deep .autocomplete-container {
      box-shadow: none;
      border-radius: 10px;
      align-items: center;
    }
  }

  .ng-autocomplete {
    ::ng-deep .autocomplete-container input {
      border-radius: 5px;
      border: solid 1px #e1e1e1;
      height: 35px;
    }
  }



.ng-autocomplete {
    ::ng-deep .autocomplete-container {
        margin-top: 5px;
      box-shadow: none;
      border-radius: 10px;
    }
  }
 
  .ng-autocomplete {
    ::ng-deep .autocomplete-container input {
      border-radius: 5px;
      border: solid 1px #e1e1e1;
      height: 35px;
    }
  }



