<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="title nk-block-title ml-5">Submit Order</h4>
            <div class="nk-block-des">
                <p class="ml-5 pr-1">Please review listed products.You have 4 selected iteams.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="card card-bordered">
                    <div class="card-inner">
                        <div class="card-title card-title-sm">
                            <div class="row">
                                <div class="col">
                                    <img src="/assets/images/Ellipse 37.png" alt="" class="thumb">
                                    <span class="ml-4 fw-bold">JTL Construction Supplies</span>
                                </div>
                                <div class="col d-flex justify-content-end align-items-center">
                                    <a class="text-primary">Add Notes & Files</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="ml-0">You have 2 selected for this supplies</span>
                            </div>
                        </div>
                        <hr>
                        <div *ngFor="let item of cartData; index as i">
                            <div class="row">
                                <div class="col-2 pr-0">
                                    <div class="">
                                        <img src="/assets/images/Rectangle 535.png" alt="" class="thumb">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p class="fw-bold mb-0 d-flex">{{item.productName}}</p>
                                    <p class="fw-bold"></p>
                                    <a class="pb-0">Quantity</a>
                                    <a class="pb-0 ml-3 fw-bold">{{item.quantity}}</a>
                                </div>
                                <div class="col-2 py-2">
                                    <p class="mt-2 ml-4 fw-bold">{{item.id}}</p>
                                </div>
                                <div class="col-2 my-3">
                                    <ul class="nk-tb-actions gx-1 my-n1">
                                        <li class="mr-n1 my-n1">
                                            <div class="dropdown my-2">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                    data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><em class="icon ni ni-eye"></em><span>View
                                                                    Product</span></a></li>
                                                        <li><a href="#"><em class="icon ni ni-edit"></em><span>Edit
                                                                    Order</span></a></li>
                                                        <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove
                                                                    Product</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 pr-0">
                                <div class="d-flex">
                                    <img src="/assets/images/Rectangle 535.png" alt="" class="thumb">
                                </div>
                            </div>
                            <div class="col-sm-0">
                                <p class="fw-bold mb-0">Smart Pro 4H Interior Door Polar White Color</p>
                                <p class="fw-bold">$ 99.49</p>
                                <a class="pb-0">Ordered Quantity</a>
                                <a class="pb-0 ml-3 fw-bold">310</a>
                                <div>
                                    <a class="">Shipping Cost</a>
                                    <a class="ml-4 px-2 fw-bold">$425</a>
                                </div>
                            </div>
                            <div class="col-sm-4 py-2">
                                <p class="mt-2 ml-4 fw-bold">$30,841.9</p>
                            </div>
                            <div class="col-sm-0 my-3">
                                <ul class="nk-tb-actions gx-1 my-n1">
                                    <li class="mr-n1 my-n1">
                                        <div class="dropdown my-2">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="#"><em class="icon ni ni-eye"></em><span>View
                                                                Product</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-edit"></em><span>Edit
                                                                Order</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove
                                                                Product</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-bordered">
                    <div class="card-inner">
                        <div class="card-title card-title-sm">
                            <div class="row">
                                <div class="col">
                                    <img src="/assets/images/Ellipse 39.png" alt="" class="thumb">
                                    <span class="ml-4 fw-bold">Australis Manufacturing Corp.</span>
                                </div>
                                <div class="col d-flex justify-content-end align-items-center">
                                    <a class="text-primary">Add Notes & Files</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="ml-0">You have 2 selected for this supplies</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 pr-0">
                                <div class="d-flex">
                                    <img src="/assets/images/Rectangle 535.png" alt="" class="thumb">
                                </div>
                            </div>
                            <div class="col-sm-0">
                                <p class="fw-bold mb-0">Smart Pro 4H Interior Door Polar White Color</p>
                                <p class="fw-bold">$ 99.49</p>
                                <a class="pb-0">Ordered Quantity</a>
                                <a class="pb-0 ml-3 fw-bold">100</a>
                                <div>
                                    <a class="">Shipping Cost</a>
                                    <a class="ml-4 px-2 fw-bold">$425</a>
                                </div>
                            </div>
                            <div class="col-sm-4 py-2">
                                <p class="mt-2 ml-4 fw-bold">$99.49</p>
                            </div>
                            <div class="col-sm-0 my-3">
                                <ul class="nk-tb-actions gx-1 my-n1">
                                    <li class="mr-n1 my-n1">
                                        <div class="dropdown my-2">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="#"><em class="icon ni ni-eye"></em><span>View
                                                                Product</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-edit"></em><span>Edit
                                                                Order</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove
                                                                Product</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 pr-0">
                                <div class="d-flex">
                                    <img src="/assets/images/Rectangle 535.png" alt="" class="thumb">
                                </div>
                            </div>
                            <div class="col-sm-0">
                                <p class="fw-bold mb-0">Smart Pro 4H Interior Door Polar White Color</p>
                                <p class="fw-bold">$ 99.49</p>
                                <a class="pb-0">Ordered Quantity</a>
                                <a class="pb-0 ml-3 fw-bold">310</a>
                                <div>
                                    <a class="">Shipping Cost</a>
                                    <a class="ml-4 px-2 fw-bold">$425</a>
                                </div>
                            </div>
                            <div class="col-sm-4 py-2">
                                <p class="mt-2 ml-4 fw-bold">$30,841.9</p>
                            </div>
                            <div class="col-sm-0 my-3">
                                <ul class="nk-tb-actions gx-1 my-n1">
                                    <li class="mr-n1 my-n1">
                                        <div class="dropdown my-2">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="#"><em class="icon ni ni-eye"></em><span>View
                                                                Product</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-edit"></em><span>Edit
                                                                Order</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove
                                                                Product</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card-bordered position-fixed">
                    <div class="card-inner">
                        <div class="card-title card-title-sm">
                            <div class="row">
                                <div class="col">
                                    <h6 class="ml-2">Order Summary</h6>
                                </div>
                            </div>
                            <div class="row justify-content-between py-2">
                                <div class="col-4">
                                    <a class="pl-3 fw-bold">Sub Total</a>
                                </div>
                                <div class="col-4">
                                    <a class="p-0 fw-bold">$40,790.9</a>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-6">
                                    <a class="pl-3 fw-bold">Shipping Fee Sub Total</a>
                                </div>
                                <div class="col-4">
                                    <a class="p-0 fw-bold">$850</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row justify-content-between py-2">
                                <div class="col-4">
                                    <a class="pl-3 fw-bold">Sub Total</a>
                                </div>
                                <div class="col-4">
                                    <a class="p-0 fw-bold">$40,790.9</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-outline-primary btn-block"
                                        [routerLink]="['/shipping-information']">Submit Orders</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-supplier card card-bordered position-fixed">
                    <div class="card-inner">
                        <div class="card-title card-title-sm">
                            <div class="row">
                                <div class="col">
                                    <h6>Suppliers on this Order</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-3">
                                    <img src="/assets/images/Ellipse 37.png" alt="" class="thumb">
                                    <a class="ml-4 fw-bold">JTL Construction Supplies</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-3">
                                    <img src="/assets/images/Ellipse 39.png" alt="" class="thumb">
                                    <a class="ml-4 fw-bold">Australis Manufacturing Corp.</a>
                                </div>
                                
                                    </div>
                                 <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>