<form (ngSubmit)="submitData()" [formGroup]="productForm">
    <div class="nk-content">
        <div class="container">
            <div class="nk-content-inner">
                <div class="nk-content-body" id="product-info">
                    <div class="nk-block-head nkblock-head-sm">
                        <div class="nk-block-between g-3">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">
                                    {{ _title }}
                                </h3>
                            </div><!-- nk-block-head-content -->
                            <div class="nk-block-head-content">
                                <app-button [loading]="draftLoading" [disabled]="draftDisabled" class="mr-3" (onClick)="submitDraft()">Save to Drafts</app-button>
                                <app-button [loading]="loading" [disabled]="disabled" (onClick)="submitData()">Save & Publish</app-button>
                            </div>
                        </div>
                    </div>
                    <!-- nk-block is inside the table component -->

                    <!-- Form AREA -->
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="card p-3 card-bordered navigator">
                                <ul class="product-nav">
                                    <li class="product-nav__item active"
                                        [class.active]="navItem.title === currentSection"
                                        *ngFor="let navItem of navigationList; index as i"
                                        (click)="changeCurrentSection(i)">
                                        <span>{{ i+1 }}</span> {{ navItem.title }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card p-3 card-bordered">
                                <p class="tx-20 fw-bold">Product Information</p>

                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="tx-14">Product Name</label>
                                                <input type="text" formControlName="productName" class="form-control" name="productName" placeholder="Product Name">

                                                <div  class="mt-1" *ngIf="productName?.invalid && (productName?.touched || productName?.dirty)">
                                                    <span *ngIf="productName?.errors?.required" class="text-danger">Product Name is required</span>
                                                    <span *ngIf="productName?.errors?.pattern" class="text-danger">Enter Only characters</span><br>
                                                </div>

                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="tx-14">Add/Select Category</label>
                                            <select formControlName="category" class="form-control" name="category">
                                                <option [ngValue]="category" *ngFor="let category of _categories" [selected]="category.id === _product.category?.id">{{category.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="tx-14">Brand</label>
                                            <input type="text"  formControlName="brand" class="form-control" name="brand" placeholder="Brand">
                                        </div>

                                        <div class="col">
                                            <label class="tx-14">Manufacturer</label>
                                            <select formControlName="manufacturer" class="form-control" name="manufacturer">
                                                <option selected>Manufacturer</option>
                                                <option value="1">One</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="tx-14">Manufacturer Part No.</label>
                                            <input type="text" formControlName="partNo" class="form-control" name="partNo" placeholder="Manufacturer Part No.">
                                            <div  class="mt-1" *ngIf="partNo?.invalid && (partNo?.touched || partNo?.dirty)">
                                                <span *ngIf="partNo?.errors?.required" class="text-danger">Part No is required</span>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <label class="tx-14">HS Code</label>
                                            <input type="text" formControlName="hsCode" class="form-control" name="hscode" placeholder="HS Code">
                                            <div  class="mt-1" *ngIf="hscode?.invalid && (hscode?.touched || hscode?.dirty)">
                                                <span *ngIf="hscode?.errors?.required" class="text-danger">HS Code is required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="tx-14">More Info about the product</label>
                                            <app-text-editor formControlName="description"></app-text-editor>
                                            <div  class="mt-1" *ngIf="description?.invalid && (description?.touched || description?.dirty)">
                                                <span *ngIf="description?.errors?.required" class="text-danger">Product Info is required</span>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="card mt-4 p-3 card-bordered" id="product-specs">
                                <div class=" d-flex justify-content-between" >
                                    <label class="tx-20 fw-bold ">Upload Specification (.pdf)</label>
                                </div>
                                <div class="row form-group">
                                    <div class="col-3" *ngFor="let spec of _product.specifications">
                                        <div class="mt-2 d-flex" >
                                            <app-document-preview [role]="'2'" (removeImage)="onRemoveSpec($event)" [src]="spec.url"></app-document-preview>
                                        </div>
                                    </div>
                                    <div class="col mt-2">
                                        <app-file-uploader (uploadedFiles)="loadSpecFiles($event)" #specUploader></app-file-uploader>
                                    </div>
                                </div>

                            </div>

                            <div class="card mt-4 p-3 card-bordered" id="product-pricing">
                                <p class="tx-20 fw-bold">Pricing and Quantity</p>
                                <div class="row form-group">
                                    <div class="col-sm-5">
                                        <label class="tx-14">Price</label>
                                        <input type="text" formControlName="price" class="form-control" name="price" placeholder="$0">
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="tx-14">Min. Quantity Order</label>
                                        <app-number-spinner [count]="_product.minimumQuantity" (spinnerChange)="onMinimumQuantityChanges($event)"></app-number-spinner>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="tx-14">Available Stocks</label>
                                        <app-number-spinner [count]="_product.availableQuantity" (spinnerChange)="onAvailableQuantityChanges($event)"></app-number-spinner>
                                    </div>
                                </div>

                            </div>

                            <div class="card mt-4 p-3 card-bordered" id="product-images">
                                <p class="tx-20 fw-bold">Add Images and Videos (.jpg, .png, .mp4)</p>
                                <div class="row form-group">
                                    <div class="col-3" *ngFor="let img of _product.images">
                                        <div class="mt-2">
                                            <app-document-preview (removeImage)="onRemoveImage($event)"  [role]="'2'" [src]="img.url"></app-document-preview>
                                        </div>
                                    </div>
                                    <div class="col mt-2">
                                        <app-file-uploader (uploadedFiles)="loadImageFile($event)" #galleryUploader></app-file-uploader>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="card mt-4 p-3 card-bordered" id="product-shipping">
                                <p class="tx-20 fw-bold">Shipping Information</p>

                                <div class="row form-group">
                                    <div class="col">
                                        <textarea class="form-control" formControlName="shipinfo" name="shipInfo" rows="5" placeholder="Write about shipping information"></textarea>
                                        <div  class="mt-1" *ngIf="shipinfo?.invalid && (shipinfo?.touched || shipinfo?.dirty)">
                                            <span *ngIf="shipinfo?.errors?.required" class="text-danger">Shipping Info is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                    <!-- Form AREA -->
                </div>
            </div>
        </div>
    </div>
</form>
