.product-image{
    min-width: 140px;
    min-height: 140px;
    max-width: 180px;
    max-height: 180px;
    padding: 10px;
    border-radius: 4px;
}

.product-nav {
    list-style-type: none;
    li {
        margin-bottom: 16px;
        position: relative;
        white-space: nowrap;
        cursor: pointer;
    }
    li span {
        border-radius: 50%;
        border: 1px solid #8094AE;
        padding: 5px 10px;
        margin-right: 5px;
        background-color: #ffffff;
        font-weight: bold;
        &::after {
            content: '';
            position: absolute;
            border-left: 1px dashed #6576FF;
            left: 15px;
            bottom: -25px;
            z-index: 0;
            height: 100%;
        }
    }
    li:last-child span {
        &::after {
            content: none;
        }
    }
    li.active span{
        background-color: #6576FF;
        color: #ffffff;
    }
    li.active {
        color: #6576FF;
    }
}

.navigator {
    position: fixed;
}