
<!-- 
    form card change password -->
     <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
            <div class="form" role="form" autocomplete="off">

                <div class="form-group">
                    <label for="inputPasswordNew">New Password</label>
                    <input (change)="passwordOnChange($event)" type="password" class="form-control" id="inputPasswordNew">
                    <span class="form-text small text-muted">
                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                        </span>
                </div>
                <div class="form-group">
                    <button (click)="closeDialog()" type="submit" class="btn btn-secondary btn-lg" style="margin-right: 2px; font-size: 11.5px;">Save</button> 
                    <button type="submit" class="btn btn-secondary btn-lg float-right " (click)="CancelAllData()" style="font-size: 11.5px;" >cancel</button>
                </div> 
                
            </div>
        </div>
    </div>
    <!-- form card change password  -->

