<button type="{{type}}" class="btn btn-{{color}}" 
    [ngClass]="{ isBlock: 'btn-block'}" 
    [ngClass]="{ isLarge: 'btn-large'}"
    (click)="btnClick()" 
    [disabled]="disabled">
    <ng-content *ngIf="!loading"></ng-content>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
    <span *ngIf="loading"> Loading... </span>
</button>