<div class="container card border">
    <div class="row" *ngIf="project">
        <div class="col-sm-3 p-3 border-right">
            <div class="d-flex justify-content-between">
                <div>
                    <a class="text-muted" [routerLink]="['/projects']">Back</a>
                </div>
                <div>
                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger p-0" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="link-list-opt no-bdr">
                                <li><a href="#"><em class="icon ni ni-edit"></em><span>Edit Selected</span></a></li>
                                <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove Selected</span></a></li>
                                <li><a href="#"><em class="icon ni ni-bar-c"></em><span>Update Stock</span></a></li>
                                <li><a href="#"><em class="icon ni ni-invest"></em><span>Update Price</span></a></li>
                            </ul>
                        </div>
                </div>
            </div>

            <div>
                <div class="card border" style="width: 100%; height: 100%;">
                   <!--The div element for the map -->
                   <img [src]="project.image.url" alt="" *ngIf="project && project.image">
                   <img [src]="'assets/images/no-image-available.png'" alt="" *ngIf="!(project && project.image)">
                   <div class="mt-2">
                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalDefault">
                         {{ project && project.image ? 'Change Feature Image' : 'Upload Feature Image'}}
                        </button>
                    </div>
                    <div>
                        <div class="modal fade" tabindex="-1" id="modalDefault">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                        <em class="icon ni ni-cross"></em>
                                    </a>
                                    <div class="modal-header">
                                        <h5 class="modal-title">Upload Project Image here</h5>
                                    </div>
                                    <div class="modal-body">
                                        <app-file-uploader #profileUploader (uploadedFiles)="loadProjectImage($event)"></app-file-uploader>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-toggle="modal" data-target="#modalDefault" class="btn btn-primary" type="submit">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>

            <div id="title" class="mt-3">
                <h6 class="title mb-1" style="font-size: 16px; font-weight: 700;">{{ project.name }}</h6>
                <div class="project-details text-muted">{{ project.type }}</div>
            </div>

            <div id="address" class="mt-4">
                <div style="font-size: 14px;">Address</div>
                <div style="font-size: 14px;">
                    {{ project.address | addressPipe }}
                </div>
            </div>

            <div id="cost" class="mt-4">
                <div class="card border p-4">
                    <div>
                        <div style="font-weight: 500; font-size: 17px;">Total Project Cost</div>
                        <div class="text-primary" style="font-size: 20px; font-weight: 700;">$55,304</div>
                    </div>
                    <hr>
                    <div>
                        <div>Total Product Cost</div>
                        <div class="text-primary" style="font-size: 14px;">$40,304</div>
                    </div>
                    <div class="mt-3">
                        <div>Total Shipping Cost</div>
                        <div class="text-primary" style="font-size: 14px;">$10,000</div>
                    </div>
                    <div class="mt-3">
                        <div>Ports Fee & Tax</div>
                        <div class="text-primary" style="font-size: 14px;">$5,000</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col px-1">
            <ul class="nav nav-tabs px-2">
                <li class="nav-item mt-0">
                    <a class="nav-link active" data-toggle="tab" href="#tabItem1">Project Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabItem2">Drawings and Documents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabItem3">Buildings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabItem4">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabItem5">Take Off</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active mt-0" id="tabItem1">
                    
                   <app-project-information (onEdit)="editApartment($event)" [hidden]="!showProjectInfo" [project]="project" (addAppartment)="enableApartment($event)"></app-project-information>
                   <app-add-apartment #addApartment [project]="project" [hidden]="!showApartment" (onBack)="hideAddApartment($event)" (onSave)="onSaveApartment($event)"></app-add-apartment>
                </div>
                <div class="tab-pane" id="tabItem2">
                    <app-project-specification [project]="project"></app-project-specification>
                </div>
                <div class="tab-pane pt-0" id="tabItem3">
                    <app-buildings [project]="project"></app-buildings>
                </div>
                <div class="tab-pane" id="tabItem4">
                    <app-our-products></app-our-products>
                </div>
                <div class="tab-pane" id="tabItem5">
                    <app-takeoff-initiater  [project]="project"></app-takeoff-initiater>
                </div>
            </div>
            
        </div>
    </div>
</div>
