<div class="container mt-3">
    <div class="row mb-4">
        <div class="col-sm-12">
            <p class="tx-28 text-dark page-title">Edit Company Profile</p>
        </div>
    </div>
    
    <form action="" [formGroup]="companyForm" (ngSubmit)="submitData()">
                     
        <div class="card p-4 my-4">
            <div class="my-3"><p class="fw-bold" style="font-size:20px">About</p></div>
            <div class="row form-group">
                <div class="col-sm-12 col-md-8">
                    <app-text-editor formControlName="about"></app-text-editor>
                    <div  class="mt-1" *ngIf="about?.invalid && (about?.touched || about?.dirty)">
                        <span *ngIf="about?.errors?.required" class="text-danger">About is required</span>
                    </div>
                </div>
                <div class="col">
                        <div><app-file-uploader #aboutUploader (uploadedFiles)="loadAboutImage($event)"  (onRemoved)="onGalleryRemoved($event)"></app-file-uploader></div>
                </div>
                <div class="card card-bordered mr-2" *ngFor="let image of company.images;">
                    <app-document-preview [src]="image.url"></app-document-preview>
                </div>
            </div>
        </div>

        <div class="card p-4 my-4">
            <div class="my-3"><p class="fw-bold" style="font-size:20px">Why Choose Us</p></div>
            <div class="row form-group">
                <div class="col-sm-12 col-md-8">
                    <app-text-editor formControlName="whyChooseUs"></app-text-editor>
                    <div  class="mt-1" *ngIf="whyChooseUs?.invalid && (whyChooseUs?.touched || whyChooseUs?.dirty)">
                        <span *ngIf="whyChooseUs?.errors?.required" class="text-danger">Why Choose Us is required</span>
                    </div>
                </div>
                <div class="col-sm-4">
                        <div><app-file-uploader #aboutUploader (uploadedFiles)="loadChooseImage($event)"  (onRemoved)="onGalleryRemoved($event)"></app-file-uploader></div>
                </div>
            </div>
        </div>

        <div class="card p-4 my-4">
            <div class="my-3"><p class="fw-bold" style="font-size:20px">Gallery</p></div>
            <div class="row form-group">
                <div class="col">
                    <app-file-uploader #galleryUploader (uploadedFiles)="loadImageFile($event)"  (onRemoved)="onGalleryRemoved($event)"></app-file-uploader>
                </div>
                <div class="card card-bordered mt-2" *ngFor="let image of company.images;">
                    <app-document-preview [src]="image.url"></app-document-preview>
                </div>
            </div>
        </div>

        <div class="card p-4 my-4">
            <div class="my-3"><p class="fw-bold" style="font-size:20px">Contact Information</p></div>
            <div class="row form-group">
                <div class="col-sm-2">
                       <div class="mt-1"><p>Email Address</p></div>
                </div>
                <div class="col-sm-9">
                    <input type="text" formControlName="email" class="form-control" name="email" placeholder="email">
                    <div  class="mt-1" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                        <span *ngIf="email?.errors?.required" class="text-danger">Email is required</span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                      <div class="mt-1"><p>Office Number</p></div> 
                </div>
                <div class="col-sm-9">
                    <input type="text" formControlName="phone" class="form-control" name="phone" placeholder="phone">
                    <div  class="mt-1" *ngIf="phone?.invalid && (phone?.touched || phone?.dirty)">
                        <span *ngIf="phone?.errors?.required" class="text-danger">Phone is required</span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                      <div class="mt-1"><p>Mobile Number</p></div> 
                </div>
                <div class="col-sm-9">
                    <input type="text" formControlName="mobile" class="form-control" name="mobile" placeholder="mobile">
                    <div  class="mt-1" *ngIf="mobile?.invalid && (mobile?.touched || mobile?.dirty)">
                        <span *ngIf="mobile?.errors?.required" class="text-danger">Mobile is required</span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                      <div class="mt-1"><p>Company Website</p></div> 
                </div>
                <div class="col-sm-9">
                    <input type="text" formControlName="website" class="form-control" name="website" placeholder="company-website">
                    <div  class="mt-1" *ngIf="website?.invalid && (website?.touched || website?.dirty)">
                        <span *ngIf="website?.errors?.required" class="text-danger">Company Website is required</span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                      <div class="mt-1"><p>Youtube Channel</p></div> 
                </div>
                <div class="col-sm-9">
                    <input type="text" formControlName="youtubeChannel" class="form-control" name="youtubeChannel" placeholder="youtube-channel">
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <div class="d-flex justify-content-end">
                    <app-button [loading]="loading" [disabled]="disabled" (onClick)="submitData()">Save & Publish</app-button>
                </div>
            </div>
        </div>
         
    </form>
</div>

