<div class="container">
  <div cdkDropListGroup class="row">
    <div class="col">
      <div class="list-group list-group-root well">
        <span class="building bg-light" *ngFor="let building of _project.buildings; let i = index">
          <a  class="list-group-item"
              data-toggle="collapse" 
              [attr.data-target]="'#'  + 'building' + i" 
          >
            <div class="d-flex justify-content-between">
              <div> <em class="ni ni-building"></em> {{building.name }}</div>
              <div>{{ building?.floors?.length }} Floors</div>
            </div>
          </a>
          <div class="list-group collapse" [attr.id]=" 'building' + i " >
            <span class="floor" *ngFor="let floor of building.floors; let j = index">
              <a  class="list-group-item floor" 
                  data-toggle="collapse"
                  [attr.data-target]="'#' + 'floor' + j + i"  
                >
                  <div class="d-flex justify-content-between">
                    <div> <em class="icon ni ni-layer-fill"></em> {{ floor.name }}</div>
                    <div>{{ floor.apartments.length }} apartments</div>
                  </div>
              </a>
              <div class="list-group collapse" [attr.id]=" 'floor' + j + i" >
                <span [attr.id]=" 'dragdrop' + j + i " (focus)="focused()">
                <a class="list-group-item p-1">
                  <div>
                    <div class="example-container">
                      <div
                        cdkDropList
                        [cdkDropListData]="floor.apartments"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)"
                      >
                        <div class="d-flex justify-content-center p-2" *ngIf="!floor.apartments.length"><p >Drop Your Apartments Here</p></div>
                        <div class="align-items-center" *ngIf="floor.apartments.length">
                          <div class="example-box"  *ngFor="let apartment of floor.apartments; let k = index" cdkDrag [cdkDragDisabled]="dragDisabled">
                            <div>
                              <em class="icon ni ni-home-alt"></em>
                              {{ apartment.name }}
                            </div>
                            <div class="box">
                              <button class="btn">
                                <input type="text" class="form-control mr-1" [(ngModel)]="numberOfApartmentToClone" style="width: 50px;"/>
                                <em class="icon ni ni-copy" (click)="cloneApartment(i, j, k, apartment)"></em>
                              </button>
                              <button class="btn" (click)="deleteApartment(i, j, k)"><em class="icon ni ni-trash"></em></button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </div>
    <div class="col">
      <div >
        <div
          cdkDropList
          [cdkDropListData]="apartments"
          class="example-list">
          <div class="example-box1"  *ngFor="let apartment of apartments"  cdkDrag>{{ apartment.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-4 mt-4 mb-4">
  <button (click)="editProject()" type="submit" class="btn btn-primary">Save</button>
</div>
