  .building {
    cursor: pointer;
    .list-group-item {
      background-color: #e5e9f2 !important;
    }
  }

   .floor {
     cursor: pointer;
     .list-group-item {
       background-color: #fef6e0 !important;
     }
   }

   .building:hover {
     background-color: aliceblue;
   }
  


   .example-list {
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 4px;
    overflow: visible;
  }

  .example-list1 {
    width: 90%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: visible;
  }

  .example-box1 {
    padding: 10px 5px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  } 
  
  .example-box {
    padding: 10px 5px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  