<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Take Off</h3>
                        </div><!-- .nk-block-head-content -->
                        
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <ul class="nk-nav nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active"
                             data-toggle="tab" href="#tabItem1">Pending Take Off</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  
                       data-toggle="tab" href="#tabItem2">Completed Take Off</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tabItem1" >
                        <app-take-off-table></app-take-off-table>
                    </div>
                    <div class="tab-pane" id="tabItem2" >
                        <app-take-off-table></app-take-off-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   


