<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">{{ catalog.catalogName }}</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">

                                        <li>
                                            <a class="btn p-0"><img class="p-0" src="../../../../assets/icons/rectangle.svg"></a>
                                        </li>

                                        <li>
                                            <a class="btn p-0"><img class="p-0" src="../../../../assets/icons/list.svg"></a>
                                        </li>
                                        <li>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-search"></em>
                                                </div>
                                                <input type="text" class="form-control" id="default-04" placeholder="Quick search by id">
                                            </div>
                                        </li>
                                       
                                        <li class="nk-block-tools-opt">
                                            <app-button [loading]="loading" [disabled]="disabled" (onClick)="addMultipleToCatalog()">Add to Catalog <span *ngIf="selectedCount && selectedCount > 0">({{ selectedCount }})</span> </app-button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <!-- TAB Content -->
                <ul class="nav nav-tabs mt-n3">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabItem1" (click)="changeActiveTab(0)">Active Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabItem2" (click)="changeActiveTab(1)">Inactive Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabItem3" (click)="changeActiveTab(2)">Drafts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabItem4" (click)="changeActiveTab(3)">Deleted</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabItem1">
                        <ng-container *ngIf="activeTabIndex === 0">
                            <app-table
                                [pagination]="pagination$"
                                [paginationRef]="paginatorRef"
                                status="Active"
                                [isSelectable]="true"
                                (response)="getPaginationResponse($event)"
                                (pageSizeChange)="changePageSize($event)"
                                [isInsideCatalog]="true"
                                (dropdownAction)="ddAction($event)"
                                (onSelected)="onSelection($event)"
                            ></app-table>
                        </ng-container>
                    </div>
                    <div class="tab-pane" id="tabItem2">
                        <ng-container *ngIf="activeTabIndex === 1">
                            <app-table 
                                [pagination]="inactivePagination$"
                                [paginationRef]="inActivetpaginatorRef"
                                status="Inactive"
                                (response)="getPaginationResponse($event)"
                                (pageSizeChange)="changeInActivePageSize($event)"
                                [isInsideCatalog]="true"
                                (dropdownAction)="ddAction($event)"
                                (onSelected)="onSelection($event)"
                            ></app-table>
                        </ng-container>
                    </div>
                    <div class="tab-pane" id="tabItem3">
                        <ng-container *ngIf="activeTabIndex === 2">
                            <app-table 
                                [pagination]="draftPagination$"
                                [paginationRef]="draftpaginatorRef"
                                status="Draft"
                                (response)="getPaginationResponse($event)"
                                (pageSizeChange)="changedDraftPageSize($event)"
                                [isInsideCatalog]="true"
                                (dropdownAction)="ddAction($event)"
                                (onSelected)="onSelection($event)"
                            ></app-table>
                        </ng-container>
                    </div>
                    <div class="tab-pane" id="tabItem4">
                        <ng-container *ngIf="activeTabIndex === 3">
                            <app-table 
                                [pagination]="deletedPagination$"
                                [paginationRef]="deletedpaginatorRef"
                                status="Deleted"
                                (response)="getPaginationResponse($event)"
                                (pageSizeChange)="changedDeletedPageSize($event)"
                                [isInsideCatalog]="true"
                                (dropdownAction)="ddAction($event)"
                                (onSelected)="onSelection($event)"
                            ></app-table>
                        </ng-container>
                    </div>
                </div>
                <!-- TAB Content -->
            </div>
        </div>
    </div>
</div>