<div class="container mx-3">
    <div class="row justify-content-start">
        <div class="col-2 mx-2" *ngFor=" let spec of specDocs">
            <div class="px-0">
                <app-document-preview [role]="'2'" (removeImage)="onRemoveImage($event)" [src]="spec.url" ></app-document-preview>
            </div>
        </div>
        <div class="col-3 px-2 mx-3">
            <app-file-uploader #profileUploader  (uploadedFiles)="loadSpecifications($event)"></app-file-uploader>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col mx-2">
            <div>
                <button class="btn btn-primary" (click)="saveProject()">Save</button>
            </div>
        </div>
    </div>
</div>

