<div class="modal fade" tabindex="-1" id="addBuildingDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" id="close-dialog" data-dismiss="modal" aria-label="Close" #close>
                <em class="icon ni ni-cross"></em>
            </a>
            <div class="modal-header">
                <h5 class="modal-title">Add Building</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="addBuildingForm" (ngSubmit)="saveBuilding()">
                    <div class="container">
                        <div class="row form-group">
                            <div class="col-sm-7">
                                <p class="form-label mb-1">Building Name(ex. Bldg1, BldgA)</p>
                                <input type="text" class="form-control" id="buildingName" formControlName="name">
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-label">Floors</label>
                                    <app-number-spinner [count]="building.floorCount" (spinnerChange)="onFloorCountChange($event)"></app-number-spinner>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end form-group">
                            <button type="button" data-dismiss="modal" class="btn btn-outline-primary mr-3">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>