<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-bordered">
                <div class="card-inner">
                    <div class="card-title card-title-sm">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="d-flex justify-content-center fw-bold ">Thank you! Your order has been submitted</h2>
                                <h5 class="d-flex justify-content-center fw-normal mt-4 ">Supplier will Confirm your order to proceed with your payment</h5>
                                <h6 class="d-flex justify-content-center fw-normal text-primary mt-4 ">View Order List</h6>
                                <hr>
                                <h6 class="d-flex justify-content-center fw-normal mt-4 ">We Accept Payments</h6>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex justify-content-center mt-2">
                                        <img src="assets/images/wise.png" alt="" class="thumb mt-1" style="width: 58px; height: 14px;">
                                        <img src="assets/images/paypal.png" alt="" class="thumb ml-4 mt-1" style="width: 58px; height: 14px;">
                                        <img src="assets/images/master card.png" alt="" class="thumb ml-4" style="width: 32px; height: 24px;">
                                        <img src="assets/images/visa.png" alt="" class="thumb ml-4" style="width: 42px; height: 31px;">
                                        <img src="assets/images/pay.png" alt="" class="thumb ml-4 mt-1" style="width: 34px; height: 14px;">
                                        <img src="assets/images/Bank Transfers.png" alt="" class="thumb ml-4 mt-1"style="width: 110px; height: 15px;">
                                    </div>
                                </div>
                           </div>
                           <div class="row">
                               <div class="col mt-2">
                                   <span class="d-flex justify-content-center fw-normal">The transaction fee varies depending on the payment method chosen.<span class="text-primary">More info</span></span>
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
