
 <div class="nk-block">
    <div class="card card-bordered">
        <div class="card-inner-group">
            <div class="card-inner p-0">
                <div class="nk-tb-list" *ngIf="paginationResponse">
                    
                    <div class="nk-tb-item" *ngFor="let product of paginationResponse.data">
                        <div class="nk-tb-col tb-col-sm">
                            <span class="tb-product">
                                <img [src]="product.images[0].url" alt="" class="thumb ml-1" *ngIf="product.images && product.images.length > 0">
                                <div class="d-flex flex-column">
                                    <span class="title">{{product.productName}}</span>
                                    <span class="tb-sub">{{product.category.name}}</span>
                                    <span class="tb-sub">{{product.availableQuantity}}</span>
                                </div>
                            </span>
                        </div>
                        <div class="nk-tb-col">
                            
                        </div>
                    </div><!-- .nk-tb-item -->
                </div><!-- .nk-tb-list -->
            </div>
            
        </div>
    </div>
</div><!-- .nk-block -->

