<div class="card card-bordered h-100">
    <div class="card-inner">
        <div class="project" *ngIf="_project">
            <div class="project-head">
                <a href="html/project-kanban.html" class="project-title">
                    <div class="user-avatar sq bg-purple"><span>{{ _project.name | initialPipe }}</span></div>
                    <div class="project-info">
                        <h6 class="title">{{ _project.name }}</h6>
                        <span class="sub-text"> {{ _project.type }}</span>
                    </div>
                </a>
                <div class="drodown">
                    <a href="#" class="dropdown-toggle btn btn-sm btn-icon btn-trigger mt-n1 mr-n1" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="link-list-opt no-bdr">
                            <li><a [routerLink]="[_project.id]"><em class="icon ni ni-eye"></em><span>View Project</span></a></li>
                            <li><a [routerLink]="[_project.id]"><em class="icon ni ni-edit"></em><span>Edit Project</span></a></li>
                            <li><a [routerLink]="[_project.id]"><em class="icon ni ni-check-round-cut"></em><span>Mark As Done</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="project-details">
                <p>{{ _project.address | addressPipe }}</p>
            </div>

            <div class="d-flex">
                <div><p class="text-primary">{{ _project.buildings ? _project.buildings.length : 0 }} Building</p></div>
                <div><p class="ml-3 text-primary">|</p></div>
                <div><p class="text-primary mx-3">{{ _project.buildings | floorPipe }} Floor</p></div>
                <div><p class="mr-3 text-primary">|</p></div>
                <div><p class="text-primary">{{ _project.apartmentTypes ? _project.apartmentTypes.length : 0 }} Apartment</p></div>
            </div>

            <div class="mt-4">
                <div><button class="btn btn-primary btn-sm" [routerLink]="[_project.id]">View Project</button></div>
            </div>
        </div>
    </div>
</div>