<div class="nk-block nk-block-lg">
  <div class="nk-block-head">
    <div class="nk-block-head-content">
      <p [routerLink]="['/orders/submit-order']" style="cursor:pointer ;">Back</p>
      <h4 class="title nk-block-title ml-5">Shipping Information</h4>
      <div class="nk-block-des">

      </div>
    </div>
  </div>
  <div class="row g-gs">
    <div class="col">
      <div class="card card-bordered h-100">
        <div class="container">
          <form action="" [formGroup]="userprofileForm" (ngSubmit)="onSubmit()">
            <div class="row">

              <div class="col-sm-12">
                <div class="form-check d-flex m-4 ">
                  <input class="form-check-input me-2" type="checkbox" value="" formControlName="cardNumber" />
                  <label class="form-check-label" for="form6Example8"> Use Project Address for shipping</label>
                </div>
                <p aria-disabled="true">Select Project</p>
                <h5 aria-disabled="true">Archer Villas</h5>
                <hr>

                <h6>Shipping & Delivery Address</h6>
                <div class="form-outline col-sm-8 mt-4">
                  <label class="form-label" for="form6Example3">Street</label>
                  <input type="text" class="form-control" formControlName="firstName" />
                </div>
                <div class="row col-sm-8 mt-4">
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1">State</label>
                      <select name="" id="" class="w-100" style="height:35px ; ">
                        <option value=""></option>
                        <option value="">US</option>
                        <option value="">Uk</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example2">Country</label>
                      <select name="" id="" class="w-100" style="height:35px;">
                        <option value=""></option>
                        <option value="">Pakistan</option>
                        <option value="">India</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example2">Zip Code</label>
                      <input type="text" class="form-control" formControlName="lastName" />
                    </div>
                  </div>
                </div>
                <hr>

                <h6 class="m-4">Contact Parson</h6>

                <div class="row col-sm-8 mt-4">
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1">Full Name</label>
                      <input type="text" class="form-control" formControlName="expireDate" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example2">Mobile/Phone Number</label>
                      <input type="text" class="form-control" formControlName="Street" />
                    </div>
                  </div>

                </div>
                <hr class="mx-4">

                <div class="form-outline col-sm-8 mt-4">
                  <label class="form-label" for="form6Example4">Add Notes</label>
                  <input type="text" class="form-control" formControlName="stateName" />
                </div>
                <div>
                  <button type="submit" class="btn btn-primary  m-4"
                    [routerLink]="['/orders/for-payment/payment']">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>