<div class="nk-block" *ngIf="enableWindow">
<div class="py-2">
    <!-- <p >Products</p> -->
</div>
<div class="card card-bordered">
    <div class="card-inner-group" >
        <div class="card-inner p-0">
            <div class="nk-tb-list">
                <div class="nk-tb-item nk-tb-head">
                    <div class="nk-tb-col nk-tb-col-check" >
                        <div class="custom-control custom-control-sm custom-checkbox notext">
                            <input type="checkbox" class="custom-control-input" id="pid">
                            <label class="custom-control-label" for="pid"></label>
                        </div>
                    </div>
                    <div class="nk-tb-col tb-col-sm"><span>Product Name</span></div>
                    <div class="nk-tb-col"><span>Category Id</span></div>
                    <div class="nk-tb-col"><span>Catlog Name</span></div>
                    <div class="nk-tb-col"><span>Price</span></div>
                    <div class="nk-tb-col nk-tb-col-tools">
                        <ul class="nk-tb-actions gx-1 my-n1">
                            <li class="mr-n1">
                                <div class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle btn btn-icon btn-trigger" ><em class="icon ni ni-more-h"></em></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- .nk-tb-item -->



                <ng-container *ngFor="let item of getAllProductsData index as i">
                    <div class="nk-tb-item" >
                        <div class="nk-tb-col nk-tb-col-check" >
                         <div class="custom-control custom-control-sm custom-checkbox notext">
                                <input type="checkbox" class="custom-control-input" [id]="productIds[i]?.productId" [value]="productIds[i]?.checked" >
                                 <label class="custom-control-label" [for]="item.id"></label>
                            </div>
                        </div>
                        <div class="nk-tb-col tb-col-sm">
                            <span class="tb-product"  [routerLink]="['product-description', item.id]">
                                <img class=" mr-5" style=" height : 40px;" [src]="item.images[0].url"
                        *ngIf="item?.images && item.images.length  > 0" alt="alternative">
                                <span class="title">{{item.productName}}</span>
                            </span>
                        </div>
                        <div class="nk-tb-col">
                            <span class="tb-sub">{{item.category?.id}}</span>
                        </div>
                        <div class="nk-tb-col">
                            <span class="tb-sub">{{item.category?.name}}</span>
                        </div>
                        <div class="nk-tb-col">
                            <span class="tb-sub">${{item.price}}</span>
                        </div>


                        <div class="nk-tb-col nk-tb-col-tools">
                            <ul class="nk-tb-actions gx-1 my-n1">
                                <li class="mr-n1">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="javascript:void(0);" [routerLink]="['product-description', item.id]"><em class="icon ni ni-eye"></em><span>View Details</span></a></li>
                                                <li><a href="javascript:void(0);" (click)="ddAction('CATALOG', item)" ><em class="icon ni ni-edit"></em><span>Add to Catalog</span></a></li>
                                                <li><a href="javascript:void(0);" (click)="ddAction('INACTIVE', item)" ><em class="icon ni ni-eye-off"></em><span>Mark as Inactive</span></a></li>
                                                <li><a href="javascript:void(0);" (click)="ddAction('EDIT', item)" ><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                <li><a href="javascript:void(0);" (click)="ddAction('DELETE', item)" ><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .nk-tb-item -->
                </ng-container>
            </div><!-- .nk-tb-list -->
        </div>
        <div class="card-inner">
            <div class="nk-block-between-md g-3">
                <div class="g">
                    <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                        <div>Per Page</div>
                        <div>
                            <!-- <select class="form-select form-control" [(ngModel)]="pageSize" (ngModelChange)="changePageSize()" data-search="on" data-dropdown="xs center">
                                <option [ngValue]="pageSize" *ngFor="let pageSize of pageSizes">{{ pageSize }}</option>
                            </select> -->
                        </div>
                    </div>
                </div><!-- .pagination-goto -->
                <div class="g" >
                    <ul class="pagination justify-content-center justify-content-md-start">
                        <li class="page-item" [class.disabled]="paginationRef?.isFirst">
                            <a href="javascript:void(0);" class="page-link" (click)="paginationRef.prevPage()">
                                <em class="icon ni ni-chevrons-left"></em>
                            </a>
                        </li>
                        <li class="page-item" *ngFor="let page of paginationResponse?.pageControls" [class.active]="paginationRef.isPageActive(page)">
                            <a href="javascript:void(0);" class="page-link" (click)="paginationRef.setPage(page)">{{page}}</a>
                        </li>
                        <li class="page-item" [class.disabled]="paginationRef?.isLast">
                            <a href="javascript:void(0);" class="page-link" (click)="paginationRef.nextPage()">
                                <em class="icon ni ni-chevrons-right"></em>
                            </a>
                        </li>
                    </ul><!-- .pagination -->
                </div>
            </div><!-- .nk-block-between -->
        </div>
    </div>
</div>
</div>
