<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="card border" style="width: 100%; height: 30vh;">
                 <!--The div element for the map -->
                 <div #map style="width:100%; height:400px"></div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-between">
                <div><h5 class="title">{{ _project.name }}</h5><p>{{ _project.type }}</p></div>
                <div><a href="javascript:void(0);" class="btn btn-primary">Edit Info</a></div>
            </div>

            <div class="mt-3">
                <p class="mb-0 " style="font-size: 14px; font-weight: 500;">Address</p>
                <p style="font-size: 14px; font-weight: 400;">{{ _project.address | addressPipe }}</p>
            </div>

            <div class="mt-3">
                <p class="mb-1" style="font-size: 14px; font-weight: 500;">Project overview</p>
                <p style="font-size: 14px; font-weight: 400;">{{ _project.description }}
                </p>
            </div>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="nk-block nk-block-lg">
                <div class="nk-block-head d-flex justify-content-between">
                    <div class="nk-block-head-content">
                        <h4 class="nk-block-title">Buildings</h4>
                        <p>You have {{ _project.buildings ? _project.buildings.length : 0 }} buildings added.</p>
                    </div>
                    <div>
                        <div><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addBuildingDialog">Add Building</a></div>
                        <app-add-building-dialog (save)="addBuilding($event)"></app-add-building-dialog>
                    </div>
                </div>
                <app-building-table [buildings]="_project.buildings"></app-building-table>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="nk-block nk-block-lg">
                <div class="nk-block-head d-flex justify-content-between">
                    <div class="nk-block-head-content">
                        <h4 class="nk-block-title">Apartments</h4>
                        <p>You have {{ _project.apartmentTypes ? _project.apartmentTypes.length : 0 }} type added.</p>
                    </div>
                    <div>
                        <div><button class="btn btn-primary" (click)="enableAddApartment()">Add Apartment Type</button></div>
                    </div>
                </div>
                <app-apartment-table (onEdit)="editApartment($event)" [apartmentTypes]="_project.apartmentTypes"></app-apartment-table>
            </div>
        </div>
        
    </div>
</div>
