<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Products</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <a class="btn p-0" (click)="enableCard()"><img class="p-0" src="../../../../assets/icons/rectangle.svg"></a>
                                        </li>
                                        <li>
                                            <a class="btn p-0" (click)="enableTable()"><img class="p-0" src="../../../../assets/icons/list.svg"></a>
                                        </li>
                                        <li>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-search"></em>
                                                </div>
                                                <input type="text" class="form-control" 
                                                    (keyup.enter)="searchProduct()" 
                                                    id="default-04"
                                                    [(ngModel)]="filter"
                                                    placeholder="Quick search by id" />
                                            </div>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary" (click)="clearFilters()">
                                                <img src="../../assets/icons/edit.svg" alt=""> 
                                                Clear Filter
                                            </button>
                                        </li>
                                       
                                        <li class="nk-block-tools-opt">
                                            <a href="#" data-target="addProduct" class="toggle btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                            <a [routerLink]="['add-product']" data-target="addProduct" class="toggle btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Add Product</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->

                <!-- TABS Content -->
                <ul class="nav nav-tabs mt-n3">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabItem1" (click)="changeActiveTab(0)">Active Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabItem2" (click)="changeActiveTab(1)">Inactive Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabItem3" (click)="changeActiveTab(2)">Drafts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabItem4" (click)="changeActiveTab(3)">Deleted</a>
                    </li>
                </ul>

                <div class="tab-content">
                    
                    <div class="tab-pane active" id="tabItem1">
                        <ng-container *ngIf="activeTabIndex === 0">
                            <app-product-card *ngIf="enableList"
                                [pagination]="pagination$"
                                [paginationRef]="paginatorRef"
                                status="Active"
                                (response)="getPaginationResponse($event)"
                                (pageSizeChange)="changePageSize($event)"
                                (dropdownAction)="ddAction($event)">
                            </app-product-card>

                            <app-table *ngIf="enableWindow"
                                [pagination]="pagination$"
                                [paginationRef]="paginatorRef"
                                status="Active"
                                (response)="getPaginationResponse($event)"
                                (pageSizeChange)="changePageSize($event)"
                                (dropdownAction)="ddAction($event)"
                            ></app-table>
                        </ng-container>
                    </div>

                    <div class="tab-pane" id="tabItem2">
                        <ng-container *ngIf="activeTabIndex === 1">
                            <app-product-card *ngIf="enableList"
                            [pagination]="inactivePagination$"
                            [paginationRef]="inActivetpaginatorRef"
                            status="Inactive"
                            (response)="getPaginationResponse($event)"
                            (pageSizeChange)="changeInActivePageSize($event)"
                            (dropdownAction)="ddAction($event)">
                            </app-product-card>

                            <app-table *ngIf="enableWindow"
                                [pagination]="inactivePagination$"
                                [paginationRef]="inActivetpaginatorRef"
                                status="Inactive"
                                (response)="getPaginationResponse($event)"
                                (pageSizeChange)="changeInActivePageSize($event)"
                                (dropdownAction)="ddAction($event)"
                            ></app-table>
                        </ng-container>
                    </div>

                    <div class="tab-pane" id="tabItem3">

                        <ng-container *ngIf="activeTabIndex === 2">
                            <app-product-card *ngIf="enableList"
                                [pagination]="draftPagination$"
                                [paginationRef]="draftpaginatorRef"
                                status="Draft"
                                (response)="getPaginationResponse($event)"
                                (pageSizeChange)="changedDraftPageSize($event)"
                                (dropdownAction)="ddAction($event)">
                            </app-product-card>

                            <app-table  *ngIf="enableWindow"
                                [pagination]="draftPagination$"
                                [paginationRef]="draftpaginatorRef"
                                status="Draft"
                                (response)="getPaginationResponse($event)"
                                (pageSizeChange)="changedDraftPageSize($event)"
                                (dropdownAction)="ddAction($event)"
                            ></app-table>

                        </ng-container>
                    </div>

                    <div class="tab-pane" id="tabItem4">

                        <ng-container *ngIf="activeTabIndex === 3">
                            <app-product-card *ngIf="enableList"
                            [pagination]="deletedPagination$"
                            [paginationRef]="deletedpaginatorRef"
                            status="Deleted"
                            (response)="getPaginationResponse($event)"
                            (pageSizeChange)="changedDeletedPageSize($event)"
                            (dropdownAction)="ddAction($event)">
                            </app-product-card>

                            <app-table  *ngIf="enableWindow"
                                [pagination]="deletedPagination$"
                                [paginationRef]="deletedpaginatorRef"
                                status="Deleted"
                                (response)="getPaginationResponse($event)"
                                (pageSizeChange)="changedDeletedPageSize($event)"
                                (dropdownAction)="ddAction($event)"
                            ></app-table>
                        </ng-container>
                    </div>
                </div>
                <!-- TAB Content closed -->
            </div>
        </div>
    </div>
</div>