<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Seller Dasboard</h3>
                            <div class="nk-block-des text-soft">
                                <p>Welcome to SupplyX Cody.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs ">
                        <div class="col-lg-7 flex-column  col-xxl-5">
                            <div class="card card-bordered ">
                                <div class="card-inner">
                                    <div class="card-title-group pb-3 g-2">
                                        <div class="card-title card-title-sm">
                                            <h6 class="title">Your Latest Added Products</h6>
                                        </div>
                                        <div class="card-tools ">
                                            <a [routerLink]="['/market-place']">View All</a>
                                        </div>
                                    </div>

                                    <div [routerLink]="['/products/product-description/',item.id]"  class="row mt-3" *ngFor = "let item of recentProducts;">
                                        <div class="col">
                                            <div class="d-flex">
                                                <div><img class="rounded" src= "{{item?.images[0]?.url}}" height="80" width="80" alt="No Image"></div>
                                                <div class="px-3 py-2 align-items-center">
                                                    <p class="mb-1" style="font-weight: bold; width:150px; height: 50px; overflow: hidden;">{{item.productName}}</p>
                                                    <p class="text-primary" style="font-size: 15px;">$ {{item.price}}</p>
                                                </div>
                                            </div>
                                            <hr class="mb-1">
                                        </div>
                                    </div>


                                
                                </div>
                            </div><!-- .card -->
                                
                            <div class="card card-bordered">
                                <div class="card-inner">
                                    <div class="card-title-group">
                                        <div class="card-title card-title-sm">
                                            <h6 class="title">Invitation to Bid</h6>
                                        </div>
                                        
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <div class="d-flex">
                                                <p>No invites yet</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->

                        <div class="col-md-6 col-xxl-5">
                            <div class="card card-bordered">
                                <div class="card-inner">
                                    <div class="card-title-group">
                                        <div class="card-title card-title-sm">
                                            <h6 class="title">Your Orders</h6>
                                        </div>
                                        <div class="card-tools">
                                            <div class="drodown">
                                                <a href="" [routerLink]="['/products']">View All</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="d-flex">
                                                <p>No Orders</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- .card -->

                            <div class="card card-bordered">
                                <div class="card-inner">
                                    <div class="card-title-group">
                                        <div class="card-title card-title-sm">
                                            <h6 class="title">Recent Activities</h6>
                                        </div>
                                        <div class="card-tools">
                                            <div class="drodown">
                                                <a href="">View All</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <p class="mb-0">You added product in <span class="text-primary">Archer Villas</span></p>
                                            <p class="text-muted"><span class="mr-1">2</span>hrs ago</p>
                                            <hr class="my-1">
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <p class="mb-0">You uploaded files in <span class="text-primary">Archer Villas</span></p>
                                            <p class="text-muted"><span class="mr-1">2</span>hrs ago</p>
                                            <hr class="my-1">
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="d-flex">
                                                <div><img class="rounded" src="../../../assets/Products/Rectangle 521.jpg" height="80" alt=""></div>
                                                <div class="px-3 py-2 align-items-center">
                                                    <p class="mb-1">Edited this product</p>
                                                    <p>2 <span>hrs ago</span></p>
                                                </div>
                                            </div>
                                            <hr class="mb-1">
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col">
                                            <p class="mb-0">You created new project <span class="text-primary">Archer Villas</span></p>
                                            <p class="text-muted"><span class="mr-1">2</span>hrs ago</p>
                                            <hr class="my-1">
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="d-flex">
                                                <div><img class="rounded" src="../../../assets/Products/Rectangle 521.jpg" height="80" alt=""></div>
                                                <div class="px-3 py-2 align-items-center">
                                                    <p class="mb-1">You have new order for review</p>
                                                    <p>2 <span>hrs ago</span></p>
                                                </div>
                                            </div>
                                            <hr class="mb-1">
                                        </div>
                                    </div>

                                </div>
                            </div><!-- .card -->
                            </div>
                        
                    </div><!-- .row -->

                    
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>

