<div class="conatiner">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs mt-n3">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#viewAll">View All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#images">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#videos">Videos</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="viewAll">
                    <div class="d-flex flex-wrap">
                        <app-videos [company]="company"></app-videos>
                       <app-images [company]="company" ></app-images>
                    </div>
                   
                </div>
                <div class="tab-pane" id="images">
                    <app-images [company]="company" ></app-images>
                </div>
                <div class="tab-pane" id="videos">
                    <app-videos [company]="company"></app-videos>  
                </div>
                
            </div>
        </div>
    </div>
</div>
