<!-- <p>order-summary-menu works!</p> -->



<div class="card card-bordered position-fixed">
    <div class="card-inner">
      <div class="card-title card-title-sm">
        <div class="row">
          <div class="col">
            <h6 class="ml-2">Payment Summary</h6>
          </div>
        </div>
        <div class="row justify-content-between py-2">
          <div class="col-4">
            <!-- <a class="pl-3 fw-bold">No. of Products</a>  -->
            <p>No. of Products</p>
          </div>
          <div class="col-4">
            <a class="p-0 fw-bold">$40,790.9</a>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-6">
            <!-- <a class="pl-3 fw-bold">Total Quantity</a>  -->
            <p>Total Quantity</p>
          </div>
          <div class="col-4">
            <a class="p-0 fw-bold">$850</a>
          </div>
        </div>
        <hr>
        <div class="row justify-content-between py-2">
          <div class="col-4">
            <!-- <a class="pl-3 fw-bold">Order Amount</a>  -->
            <p>Order Amount</p>
          </div>
          <div class="col-4">
            <a class="p-0 fw-bold">$40,790.9</a>
          </div>
        </div>
        <div class="row justify-content-between py-2">
          <div class="col-4">
            <!-- <a class="pl-3 fw-bold">Shipping Cost Total</a>  -->
            <p>Shipping Cost Total</p>
          </div>
          <div class="col-4">
            <a class="p-0 fw-bold">$40,790.9</a>
          </div>
        </div>
        <div class="row justify-content-between py-2">
          <div class="col-4">
            <!-- <a class="pl-3 fw-bold">Transaction Fee</a> -->
            <p>Transaction Fee</p>
          </div>
          <div class="col-4">
            <a class="p-0 fw-bold">$40,790.9</a>
          </div>
        </div>
        <hr>
        <div class="row justify-content-between py-2">
          <div class="col-4">
            <a>TOTAL PAYMENT</a>
          </div>
          <div class="col-4">
            <h5>$40,790.9</h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary btn-block" [routerLink]="['/orders/thankyou-submitted']"
            >Submit Orders.</button>
          </div>
        </div>
      </div>
    </div>
  </div>