<div class="container-fluid" style="height: 100vh;">
    <div class="row h-100">
        
        <!-- FORM Starts here  -->
        <div class="col-sm-6">
            <div class="d-flex justify-content-center mt-5" *ngIf="showForm">
                <form [formGroup]="registerForm" (ngSubmit)="submitData()">
                    <div class="d-flex justify-content-start">
                        <div class="mr-2 mt-2"><img height="85" width="85" src="../../../assets/icons/SupplyXLogoHD.svg" alt=""></div>
                        <div class="d-flex align-items-center mt-2"><p style="font-size: 30px;">Supply<span class="text-primary">X</span></p></div>
                    </div>
                    <p class="mt-5 mb-0" style="font-size: 20px;">Register as Seller</p>
                    <p class="text-muted" style="font-size: 14px;">Fill information details to register</p>
                    <div class="row form-group">
                        <div class="col">
                            <label class="form-label">First Name</label>
                            <input name="firstName" formControlName="firstName" type="text" class="form-control" placeholder="First name">
                            <div class="mt-1" *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
                                <span *ngIf="firstName.errors?.required" class="text-danger">First Name is Required</span>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label">Last Name</label>
                          <input type="text" name="lastName" formControlName="lastName" class="form-control" placeholder="Last name">
                          <div class="mt-1" *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
                            <span *ngIf="lastName.errors?.required" class="text-danger">Last Name is Required</span>
                        </div>
                        </div>
                    </div>
                    <div class="row form-group d-flex flex-column">
                        <div class="col d-flex justify-content-between">
                            <label class="form-label">Email Address</label>
                        </div>
                        <div class="col">
                            <input name="email" formControlName="email" type="email" class="form-control" placeholder="Enter email"> 
                            <div class="mt-1" *ngIf="email.invalid && (email.touched || email.dirty)">
                                <span *ngIf="email.errors?.required" class="text-danger">Email is Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-between">

                            <div><label class="form-label">Password</label>
                                <input type="password" name="password" formControlName="password" class="form-control" placeholder="Password">
                                <div class="mt-1" *ngIf="password.invalid && (password.touched || password.dirty)">
                                    <span *ngIf="password.errors?.required" class="text-danger">Password is Required</span>
                                </div>
                            </div>

                            <div>
                                <label class="form-label">Retype Password</label>
                                <input type="password" name="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Retype Password">
                                <span *ngIf="registerForm.errors?.mismatch" class="text-danger">Password do not match</span>
                                <div class="mt-1" *ngIf="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)">
                                    <span *ngIf="confirmPassword.errors?.required" class="text-danger">ConfirmPassword is Required</span>
                                </div>
                            </div> 

                        </div>      
                    </div>
                      
                    <div class="row form-group d-flex flex-column mt-3">
                        <div class="col d-flex justify-content-between">
                            <label class="form-label">Company Name</label>
                        </div>
                        <div class="col">
                            <input type="email" name="companyName" formControlName="companyName" class="form-control" placeholder="Company Name"> 
                            <div class="mt-1" *ngIf="companyName.invalid && (companyName.touched || companyName.dirty)">
                                <span *ngIf="companyName.errors?.required" class="text-danger">Company Name is Required</span>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col">
                            <label class="form-label">I am a?</label>
                            <select class="form-select form-control" formControlName="roleType" aria-label="Default select example">
                                <option selected value="1">Buyer</option>
                                <option value="2">Seller</option>
                                <option value="3">TakeOff</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col mt-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    <a>I Agree to supplyX Buyer<span class="text-primary ml-2">Privacy Policy</span><span class="text-secondary">&</span><span class="text-primary">Terms</span></a>
                                </label>
                              </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="mt-1" *ngIf="apiError">
                                <span class="text-danger">{{ apiError }}</span>
                            </div>
                            <app-button [loading]="loading" [disabled]="disabled" [type]="'submit'">Register</app-button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="d-flex justify-content-center mt-5" *ngIf="!showForm">
                <div class="min-w">
                    <div class="d-flex justify-content-start">
                        <div class="mr-2 mt-2"><img height="85" width="85" src="../../../assets/icons/SupplyXLogoHD.svg" alt=""></div>
                        <div class="d-flex align-items-center mt-2"><p style="font-size: 30px;">Supply<span class="text-primary">X</span></p></div>
                    </div>
                    <p class="mt-5 mr-2 font-weight-bold">Thank you registeration</p>
                    <a routerLink="/sign-in">Back to Sign In</a>
                </div>
            </div>

            <!-- Footer Section -->
            <div class="d-flex justify-content-center">
                <div>
                    <div class="p-0 mt-5">
                        <span class="text-primary">Terms & Condition</span>
                        <span class="text-primary ml-2">Privacy Policy</span>
                        <span class="text-primary ml-2">Help</span>
                    </div>
                    <div class="mt-3">
                        <div class="ms-2">
                            <i class="far fa-copyright"></i><a class="ml-2">2012 Supply X. All Rights Reserved.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 p-0 register-img">
            <!-- <img src="../../../assets/images/side image.png" class="img-fluid"> -->
        </div>
    </div>
</div>