.register-img {
    background: url('/assets/images/side image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.min-w {
    min-width: 400px;
}