<div class="container p-0" *ngIf="_project">
    <div class="row">
        <div class="col-sm-3">
            <div>
                <h4 style="color: #526484;">Take Off</h4>
            </div>
        </div>
        <div class="col d-flex justify-content-end">
                <div class="">
                    <select class="form-control" id="">
                        <option>All Categories</option>
                    </select>
                </div>
                <div class="mx-2">
                    <div class="input-group">
                        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Search Products">
                    </div>
                </div>
                <div class="">
                    <div>
                        <button class="btn btn-primary">View Drawing</button>
                    </div>
                </div>
        </div>
    </div>
    <div class="row mt-2 p-0">
          <div class="col p-0">
            <table class="nk-tb-list nk-tb-ulist">
                <thead>
                    <tr class="nk-tb-item nk-tb-head">
                        <th class="nk-tb-col nk-tb-col-check">
                            <div class="custom-control custom-control-sm custom-checkbox notext">
                                <input type="checkbox" class="custom-control-input" id="pid-all">
                                <label class="custom-control-label" for="pid-all"></label>
                            </div>
                        </th>
                        <th class="nk-tb-col"><span class="sub-text">Category Name</span></th>
                        <th class="nk-tb-col tb-col-xxl"><span class="sub-text">Total items</span></th>
                        <th class="nk-tb-col tb-col-lg"><span class="sub-text">PDF View</span></th>
                        <th class="nk-tb-col nk-tb-col-tools text-right">
                            <div class="dropdown">
                                <a href="#" class="btn btn-xs btn-trigger btn-icon dropdown-toggle mr-n1" data-toggle="dropdown" data-offset="0,5"><em class="icon ni ni-more-h"></em></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="link-list-opt no-bdr">
                                        <li><a href="#"><em class="icon ni ni-check-round-cut"></em><span>View</span></a></li>
                                        <li><a href="#"><em class="icon ni ni-archive"></em><span>Print</span></a></li>
                                        <li><a href="#"><em class="icon ni ni-trash"></em><span>Download</span></a></li>
                                        <li><a href="#"><em class="icon ni ni-trash"></em><span>E-mail to</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </th>
                    </tr><!-- .nk-tb-item -->
                </thead>
                <tbody>
                    <tr class="nk-tb-item" *ngFor="let takeoff of takeOffs">
                        <td class="nk-tb-col nk-tb-col-check">
                            <div class="custom-control custom-control-sm custom-checkbox notext">
                                <input type="checkbox" class="custom-control-input" id="pid-01">
                                <label class="custom-control-label" for="pid-01"></label>
                            </div>
                        </td>
                        <td class="nk-tb-col">
                            <a href="html/project-kanban.html" class="project-title">
                                <div class="project-info">
                                    <p style="color: #364A63;" class="fw-bold">{{takeoff.name}}</p>
                                </div>
                            </a>
                        </td>
                        <td class="nk-tb-col tb-col-xxl">
                            <span></span>
                        </td>
                        <td class="nk-tb-col tb-col-lg">
                            <span style="cursor: pointer;" class="text-primary" (click)="downloadMyFile(takeoff.name,takeoff.url)">View Take Off</span>
                        </td>
                        <td class="nk-tb-col nk-tb-col-tools">
                            <ul class="nk-tb-actions gx-1">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="#"><em class="icon ni ni-check-round-cut"></em><span>View</span></a></li>
                                                <li><a href="#"><em class="icon ni ni-archive"></em><span>Print</span></a></li>
                                                <li><a href="#"><em class="icon ni ni-trash"></em><span>Download</span></a></li>
                                                <li><a href="#"><em class="icon ni ni-trash"></em><span>E-mail to</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr><!-- .nk-tb-item -->
                </tbody>
            </table><!-- .nk-tb-list -->
          </div> 
    </div>
</div>
