<div class="toast-container ">
    <ngb-toast *ngIf="showToast" header="Sucess" class="bg-success-dim" [autohide]="true" (hidden)="showToast=false">
      Add To cart sucess
    </ngb-toast>
  </div>
<div class="nk-content ">
    <div class="container">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <div class="nk-block-des text-soft">
                                <a [routerLink]="['/products']" class="text-muted">Back</a>
                            </div>
                            <h3 class="nk-block-title page-title">Product Details</h3>
                        </div>
                        <div class="nk-block-head-content">
                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1 my-n1">
                                    <li class="mr-n1">
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="javascript:void(0);" (click)="markInactive()" ><em class="icon ni ni-eye"></em><span>Mark As Inactive</span></a></li>
                                                    <li><a href="javascript:void(0);" (click)="edit()"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                    <li><a href="javascript:void(0);" (click)="delete()" ><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <div class="row pb-5">
                                <div class="col-lg-6">
                                    <div class="product-gallery mr-xl-1 mr-xxl-5">
                                        <app-product-slider [slides]="slides" *ngIf="product.images"></app-product-slider>
                                    </div><!-- .product-gallery -->
                                </div><!-- .col -->
                                <div class="col-lg-6">
                                    <div class="product-info mt-1 mr-xxl-1">
                                        <h4 class="product-price text-primary">${{product.price}} <!-- <small class="text-muted fs-14px">$98.00</small> --></h4>
                                        <h2 class="product-title">{{product.productName}}</h2>
                                        <div class="product-rating" *ngIf="false">
                                            <ul class="rating">
                                                <li><em class="icon ni ni-star-fill"></em></li>
                                                <li><em class="icon ni ni-star-fill"></em></li>
                                                <li><em class="icon ni ni-star-fill"></em></li>
                                                <li><em class="icon ni ni-star-fill"></em></li>
                                                <li><em class="icon ni ni-star-half"></em></li>
                                            </ul>
                                            <div class="amount">(2 Reviews)</div>
                                        </div><!-- .product-rating -->
                                        <!-- <div class="product-excrept text-soft">
                                            <p class="lead">{{product.description}}</p>
                                        </div> -->
                                        <div class="row mt-2">
                                            <div class="col-sm-12 col-md-6 col-lg-6">
                                              <table class="table table-borderless">
                                                  <tbody>
                                                    <tr>
                                                      <th class="text-muted pl-0" scope="row">Stock Avaiable</th>
                                                      <td class="fw-bold text-secondary text-nowrap">{{product.availableQuantity}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-muted pl-0" scope="row">Minimum Order</th>
                                                        <td class="fw-bold text-secondary text-nowrap">{{product.minimumQuantity}}</td>
                                                    </tr>
                                                    <tr >
                                                        <th class="text-muted pl-0" scope="row">Part Number</th>
                                                        <td class="fw-bold text-secondary text-nowrap">{{ product.partNo }}</td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </div>

                                            <div class="col-sm-12 col-md-6 col-lg-6">
                                              <table class="table table-borderless">
                                                  <tbody>
                                                    <tr>
                                                      <th class="text-muted pl-0" scope="row">Brand</th>
                                                      <td class="fw-bold text-secondary text-nowrap">{{product.brand}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-muted pl-0" scope="row">HS Code</th>
                                                        <td class="py-1 fw-bold text-secondary text-nowrap">{{product.hsCode}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-muted pl-0" scope="row">Shipping</th>
                                                        <td class="fw-bold text-secondary text-nowrap">{{product.shipinfo}}</td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col">
                                                <a href="javascript:void(0);" (click)="changeCurrentSection(1)">View Product Specification</a>
                                            </div>
                                        </div>

                                        <div class="row mt-3">
                                            <div class="col">
                                                <button (click)="downloadMyFile(product.specifications[0].url,product.productName)" type="button" class="btn btn-primary">Download Product Specs</button>
                                            </div>
                                        </div>

                                        <div class="row mt-3" *ngIf="role === '1'">
                                            <div class="col">
                                                <button (click)="addToCart(product)" type="button"
                                                class="btn btn-primary">Add To Cart</button>
                                            </div>
                                        </div>


                                    </div><!-- .product-info -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                            <hr class="hr border-light">
                            <div class="row mt-5">
                                <div class="col-sm-4 border-right">
                                    <ul class="product-nav">
                                        <li class="fw-bold text-secondary text-nowrap"
                                            (click)="changeCurrentSection(i)"
                                            *ngFor="let menu of navigationList; index as i"
                                            [class.active]="menu.title === currentSection">
                                            {{ menu.title }}
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-8" id="product-info">
                                    <div>
                                        <h3>Product Information</h3>

                                        <table class="table table-borderless">
                                            <tbody>
                                              <tr>
                                                <th class="text-muted pl-0" scope="row">Product Name</th>
                                                <td class="fw-bold text-secondary text-nowrap">{{product.productName}}</td>
                                              </tr>
                                              <tr>
                                                <th class="text-muted pl-0" scope="row">Brand</th>
                                                <td class="fw-bold text-secondary text-nowrap">{{product.brand}}</td>
                                              </tr>
                                              <tr>
                                                <th class="text-muted pl-0" scope="row">Manufacturer</th>
                                                <td class="fw-bold text-secondary text-nowrap">{{product.manufacturer}}</td>
                                              </tr>
                                              <tr>
                                                <th class="text-muted pl-0" scope="row">Manufacturer Part #</th>
                                                <td class="fw-bold text-secondary text-nowrap">{{product.partNo}}</td>
                                              </tr>
                                              <tr>
                                                <th class="text-muted pl-0" scope="row">HS Code</th>
                                                <td class="fw-bold text-secondary text-nowrap">{{product.hsCode}}</td>
                                              </tr>
                                            </tbody>
                                          </table>

                                        <div class="row">
                                            <div class="col">
                                                <quill-view [content]="product.description" format="html" theme="snow"></quill-view>
                                            </div>
                                        </div>
                                          <hr>
                                    </div>

                                    <div id="product-specs">
                                        <div class="row">
                                            <div class="col">
                                                <h3>Product Specification</h3>
                                            </div>
                                            <div class="col-sm-5 d-flex justify-content-end align-items-center">
                                                <div>
                                                    <button type="button" (click)="downloadMyFile(product.specifications[0].url,product.productName)" class=" btn btn-md btn-primary">Download Files ({{ product?.specifications?.length}})</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row px-3">
                                            <div class=" mt-2 mx-2" *ngFor="let spec of product.specifications">
                                                <app-document-preview [role]="role" [src]="spec.url"></app-document-preview>
                                            </div>
                                        </div>

                                        <hr>
                                    </div>

                                    <div  id="shipping">
                                        <h3>Shipping & Delivery</h3>
                                        <p class="text-muted tx-14">
                                            {{ product.shipinfo }}
                                        </p>
                                        <hr>
                                    </div>

                                    <div  id="reviews">
                                        <h3>Reviews</h3>
                                        <hr>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block -->

            </div>
        </div>
    </div>
</div>
