<div class="nk-block">
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">My Order</h3>
                                <div class="nk-block-des text-soft">
                                    <p class="fs-16px fw-bold text-primary">Order In Transit</p>
                                </div>
                            </div><!-- .nk-block-head-content --> 
                            <div class="nk-block-head-content">
                                <div class="toggle-wrap nk-block-tools-toggle">
                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="more-options"><em class="icon ni ni-more-v"></em></a>
                                    <div class="toggle-expand-content" data-content="more-options">
                                        <ul class="nk-block-tools g-3">
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white" data-toggle="dropdown">View All</a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><span>Actived</span></a></li>
                                                        <li><a href="#"><span>Inactived</span></a></li>
                                                        <li><a href="#"><span>Blocked</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <li>
                                                <div class="form-control-wrap">
                                                    <div class="form-icon form-icon-right">
                                                        <em class="icon ni ni-search"></em>
                                                    </div>
                                                    <input type="text" class="form-control" id="default-04" placeholder="Search by name">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head-content -->
                        </div><!-- .nk-block-between -->
                    </div><!-- .nk-block-head --> 
                </div>
            </div>
    
        </div>
    </div>
    <div class="row g-gs">
        <div class="col">
            <div class="card card-bordered h-100">
                <div class="card-inner p-3">
                    <div class="row">
                        <div class="col">
                            <div class="user-card">
                                <div class="user-avatar">
                                    <img src="assets/images/avatar/a-sm.jpg" alt="">
                                </div>
                                <div class="user-info">
                                    <span class="lead-text">Cody Fisher</span>
                                    <span class="sub-text">Developer</span>
                                </div>
                                <div class="col"></div>
                                <div class="col-sm-3">
                                    <a href="#" class="btn btn-outline-primary mr-2 fs-14px fw-normal">Contact Buyer</a>
                                    <a href="#" class="btn btn-outline-primary mr-4 fs-14px fw-normal">View Profile</a>
                                </div>
                            </div> 
                            <div class="mt-2">
                                <p>You have 2 items ordered with this supplier</p>
                            </div>   
                            <hr>
                            <div class="user-card">
                                <div class=" bg-dim-primary d-none d-sm-flex">
                                    <img src="../../../assets/Products/Rectangle 521.jpg" class="rounded" height="80" width="80" alt="">
                                </div>
                                <div class="col">
                                    <div class="user-info ml-3 text-#364A63;" >
                                        <h6>Smart Pro 4H Interior Door in Polar White Color</h6>
                                        <h6>$9,949</h6>
                                        <div>
                                            <span>Ordered Quantity</span>
                                            <span style="margin-left:12px; font-style: Roboto; font-weight: bold; color: #364A63;">100</span>
                                        </div>
                                        <div>
                                            <span>Shipping cost</span>  
                                            <span style="margin-left:24px; font-style: Roboto; font-weight: bold; color: #364A63;">$425</span>
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="text-primary" style="font-size: 14px; margin-left: 70px; font-weight: bold;">shipment is now in transit</div>
                                    <div class="text-#364A63" style="font-size: 13px; margin-left: 55px; font-weight: normal;">Est. Date of Arrival 09/30/2021</div>
                                </div>
                            </div>
                            <hr>

                            <div class="user-card">
                                <div class=" bg-dim-primary d-none d-sm-flex">
                                    <img src="../../../assets/Products/Rectangle 521.jpg" class="rounded" height="80" width="80" alt="">
                                </div>
                                <div class="col">
                                    <div class="user-info ml-3 text-#364A63;">
                                        <h6>Smart Pro 4H Interior Door in Polar White Color</h6>
                                        <h6>$9,949</h6>
                                        <div>
                                            <span>Ordered Quantity</span>
                                            <span style="margin-left:12px; font-style: Roboto; font-weight: bold; color: #364A63;">310</span>
                                        </div>
                                        <div>
                                            <span>Shipping cost</span>  
                                            <span style="margin-left:24px; font-style: Roboto; font-weight: bold; color: #364A63;">$425</span>
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="text-primary" style="font-size: 14px; margin-left: 70px; font-weight: bold;">shipment is now in transit</div>
                                    <div class="text-#364A63" style="font-size: 13px; margin-left: 55px; font-weight: normal;">Est. Date of Arrival 09/30/2021</div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
