<div class="nk-content pb-0 ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Payments</h3>
                            <p>The transaction fee varies depending on the payment method chosen. More info</p>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
            </div>
        </div>
    </div>
</div>  

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-sm-8">
            <div class="card p-2 px-3">
                <div class="acc">
                    <div class="acc-item">
                        <div class="acc-head d-flex align-items-center justify-content-between py-2" data-toggle="collapse" href="#card" role="button" aria-expanded="false">

                            <div class="d-flex align-items-center">
                                <div class="custom-control custom-control-sm  custom-radio">
                                    <input type="radio" id="cardRadio" name="cardRadio" class="custom-control-input">
                                    <label class="custom-control-label head" for="cardRadio">Credit/Debit Card</label>
                                    
                                </div>
                                <div>
                                    <img class="mx-1" src="../../../assets/icons/masterCard.svg" alt="">
                                    <img src="../../../assets/icons/visa.svg" alt="">
                                </div>
                            </div>
    
                            <div>
                                <p class="sub">Payment Processing Time <b>1-2 Hours</b> </p>
                            </div>
                           
                        </div>  
    
                        
                        <div class="collapse px-4" id="card">
                            <div class="card card-body">
                                <form [formGroup]="cardForm">
                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="tx-14">Card Number</label>
                                                <input type="text" formControlName="cardNumber" class="form-control" name="productName">
                                              <!--   <div  class="mt-1" *ngIf="productName?.invalid && (productName?.touched || productName?.dirty)">
                                                    <span *ngIf="productName?.errors?.required" class="text-danger">Product Name is required</span>
                                                    <span *ngIf="productName?.errors?.pattern" class="text-danger">Enter Only characters</span><br>
                                                </div> -->
    
                                        </div>
                                    </div>
    
                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="tx-14">First Name</label>
                                            <input type="text" formControlName="firstName" class="form-control" name="firstName">
                                        </div>
                                        <div class="col">
                                            <label class="tx-14">Last Name</label>
                                            <input type="text" formControlName="lastName" class="form-control" name="lastName">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="tx-14">Expiration Date</label>
                                            <div class="d-flex">
                                                <select class="form-control" formControlName="country" id="exampleFormControlSelect1">
                                                    <option selected>MM</option>
                                                    <!-- <option [ngValue]="country" *ngFor="let country of countries">{{country.name}}</option> -->
                                                </select>
                                                <p class="mx-2 mt-1">/</p>
                                                <select class="form-control" formControlName="country" id="exampleFormControlSelect2">
                                                    <option selected>YY</option>
                                                    <!-- <option [ngValue]="country" *ngFor="let country of countries">{{country.name}}</option> -->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="tx-14">CVV/CSC</label>
                                            <input type="text" formControlName="cVV" class="form-control" name="cVV">
                                        </div>
                                    </div>
    
                                    <p class="mt-2">Billing Address</p>
    
                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="tx-14">Street</label>
                                            <input type="text" formControlName="street" class="form-control" name="street">
                                        </div>
                                    </div>
    
                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="tx-14">State</label>
                                             <select class="form-control" formControlName="state" id="exampleFormControlSelect1">
                                                    <option selected>Choose..</option>
                                                    <option [ngValue]="state" *ngFor="let state of states">{{state.name}}</option>
                                                </select>
                                        </div>
                                        <div class="col">
                                            <label class="tx-14">Country</label>
                                             <select class="form-control" formControlName="country" id="exampleFormControlSelect1">
                                                    <option selected>Choose..</option>
                                                    <option [ngValue]="country" *ngFor="let country of countries">{{country.name}}</option>
                                                </select>
                                        </div>
                                    </div>
    
                                    <div class="row form-group">
                                        <div class="col-sm-6">
                                            <label class="tx-14">Zip Code</label>
                                            <input type="text" formControlName="productName" class="form-control" name="productName">
                                        </div>
                                    </div>
    
                                    <div class="row form-group">
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Save this card for next payment and accept the Privacy Policy.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
    
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="acc-item">
                        <div class="acc-head d-flex align-items-center justify-content-between py-2" data-toggle="collapse" href="#wise" role="button" aria-expanded="false">

                            <div class="d-flex align-items-center">
                                <div class="custom-control custom-control-sm  custom-radio">
                                    <input type="radio" id="wiseRadio" name="wiseRadio" class="custom-control-input">
                                    <label class="custom-control-label head" for="wiseRadio"></label>
                                    
                                </div>
                                <div>
                                    <img class="mx-1" src="../../../assets/icons/wise.svg" alt="">
                                </div>
                            </div>
    
                            <div>
                                <p class="sub">Payment Processing Time <b>1-2 Hours</b> </p>
                            </div>
                           
                        </div>  
                        <div class="collapse" id="wise">
                            <p>Noting here</p>
                        </div>
                    </div>

                    <div class="acc-item">
                        <div class="acc-head d-flex align-items-center justify-content-between py-2" data-toggle="collapse" href="#payPal" role="button" aria-expanded="false">

                            <div class="d-flex align-items-center">
                                <div class="custom-control custom-control-sm  custom-radio">
                                    <input type="radio" id="payPalRadio" name="payPalRadio" class="custom-control-input">
                                    <label class="custom-control-label head" for="payPalRadio"></label>
                                    
                                </div>
                                <div>
                                    <img class="mx-1" src="../../../assets/icons/paypal.svg" alt="">
                                </div>
                            </div>
    
                            <div>
                                <p class="sub">Payment Processing Time <b>1-2 Hours</b> </p>
                            </div>
                           
                        </div>  
                        <div class="collapse" id="payPal">
                            <p>Noting here</p>
                        </div>
                    </div>

                    <div class="acc-item">
                        <div class="acc-head d-flex align-items-center justify-content-between py-2" data-toggle="collapse" href="#aPay" role="button" aria-expanded="false">

                            <div class="d-flex align-items-center">
                                <div class="custom-control custom-control-sm  custom-radio">
                                    <input type="radio" id="aPayRadio" name="aPayRadio" class="custom-control-input">
                                    <label class="custom-control-label head" for="aPayRadio"></label>
                                    
                                </div>
                                <div>
                                    <img class="mx-1" src="../../../assets/icons/applePay.svg" alt="">
                                </div>
                            </div>
    
                            <div>
                                <p class="sub">Payment Processing Time <b>1-2 Hours</b> </p>
                            </div>
                           
                        </div>  
                        <div class="collapse" id="aPay">
                            <p>Noting here</p>
                        </div>
                    </div>

                    <div class="acc-item">
                        <div class="acc-head d-flex align-items-center justify-content-between py-2" 
                        data-toggle="collapse" href="#bankTransfer" role="button" aria-expanded="false">

                            <div class="d-flex align-items-center">
                                <div class="custom-control custom-control-sm  custom-radio">
                                    <input type="radio" id="bankTransfer" name="bankTransfer" class="custom-control-input">
                                    <label class="custom-control-label head" for="bankTransfer">Bank Transfer</label>
                                    
                                </div>
                                <div>
                                  <!--   <img class="mx-1" src="../../../assets/icons/applePay.svg" alt=""> -->
                                </div>
                            </div>
    
                            <div>
                                <p class="sub">Payment Processing Time <b>1-2 Hours</b> </p>
                            </div>
                           
                        </div>  
                        <div class="collapse" id="bankTransfer">
                            <p>Noting here</p>
                        </div>
                    </div>
                    
                </div>  
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card p-2 px-3">
                <div class="row">
                    <div class="col"><p class="head">Payment Summary</p></div>
                </div>
                <div class="row mt-3">
                    <div class="col"><p>No of Products</p></div>
                    <div class="col d-flex justify-content-end"><p>4</p></div>
                </div>

                <div class="row mt1">
                    <div class="col"><p>Total Quantity</p></div>
                    <div class="col d-flex justify-content-end"><p>312</p></div>
                </div>

                <hr>

                <div class="row mt-1">
                    <div class="col"><p>Order Amount</p></div>
                    <div class="col d-flex justify-content-end"><p>$40739.2</p></div>
                </div>

                <div class="row mt-1">
                    <div class="col"><p>Shipping Cost</p></div>
                    <div class="col d-flex justify-content-end"><p>$500.0</p></div>
                </div>

                <div class="row mt-1">
                    <div class="col"><p>Transaction Fee</p></div>
                    <div class="col d-flex justify-content-end"><p>$500.0</p></div>
                </div>

                <hr>

                <div class="row mt-3">
                    <div class="col"><p>Total Payment</p></div>
                    <div class="col d-flex justify-content-end"><p>$41640.0</p></div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div><button class="btn btn-primary btn-block"><img class="mx-1" src="../../../assets/icons/procesPay.svg" alt=""> Process Payment</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
