<form class="mt-3" (ngSubmit)="submitData()" [formGroup]="catalogForm" >
    <div class="nk-content">
        <div class="container">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head nkblock-head-sm">
                        <div class="nk-block-between g-3">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">
                                    New Catalog
                                </h3>
                            </div><!-- nk-block-head-content -->
                            <div class="nk-block-head-content">
                                <app-button 
                                    [loading]="loading"
                                    [disabled]="disabled"
                                    (onClick)="submitData()">
                                    Save
                                </app-button>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-inner-group">
                                <div class="card-inner">
                                    <div class="card-title-group">
                                        <div class="card-title">
                                            <h5 class="title">Catalog Information</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-inner">
                                    <form action="" [formGroup]="catalogForm" (ngSubmit)="submitData()">
                                        <div class="form-group">
                                            <label class="form-label" for="">Catlog Name</label>
                                            <input type="text" formControlName="catalogName" class="form-control" placeholder="Catlog Name">
                                           <!--  <div class="mt-1" *ngIf="catalogName.invalid && (catalogName.touched || catalogName.dirty)">
                                                <span *ngIf="catalogName.errors?.required" class="text-danger">Catlog Name is Required</span>
                                            </div> -->
                                        </div>
                    
                                        <div class="form-group">
                                            <label class="form-label" for="">Catlog Description</label>
                                            <textarea class="form-control" formControlName="description" name="description" id="" cols="30" rows="5" placeholder="Write about this catlog"></textarea>
                                           <!--  <div class="mt-1" *ngIf="description?.invalid && (description.touched || description.dirty)">
                                                <span *ngIf="description.errors?.required" class="text-danger">Description is Required</span>
                                            </div> -->
                                        </div>

                                        <app-button [loading]="loading" [disabled]="disabled" (onClick)="submitData()">Save</app-button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>