/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~quill/dist/quill.snow.css';


.mat-dialog-container {
    padding: 0 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
