<div class="nk-block">
    <div class="row g-gs">
        <div class="col">
            <div class="card card-bordered h-100">
                <div class="card-inner p-3">
                    <div class="row">
                        <div class="col">
                            <div class="user-card">
                                <div class="user-avatar">
                                    <img src="assets/images/avatar/a-sm.jpg" alt="">
                                </div>
                                <div class="user-info">
                                    <span class="lead-text">Cody Fisher</span>
                                    <span class="sub-text">Developer</span>
                                </div>
                                <div class="col"></div>
                                <div class="col-sm-3">
                                    <a href="#" class="btn btn-outline-primary mr-2 fs-14px fw-normal">Contact Buyer</a>
                                    <a href="#" class="btn btn-outline-primary mr-4 fs-14px fw-normal">View Profile</a>
                                </div>
                            </div> 
                            <div class="mt-2">
                                <p>You have 2 items ordered with this supplier</p>
                            </div>   
                            <hr>
                            <div class="user-card">
                                <div class=" bg-dim-primary d-none d-sm-flex">
                                    <img src="../../../assets/Products/Rectangle 521.jpg" class="rounded" height="80" width="80" alt="">
                                </div>
                                <div class="col">
                                    <div class="user-info ml-3 text-#364A63;" >
                                        <h6>Smart Pro 4H Interior Door in Polar White Color</h6>
                                        <h6>$9,949</h6>
                                        <div>
                                            <span>Ordered Quantity</span>
                                            <span style="margin-left:12px; font-style: Roboto; font-weight: bold; color: #364A63;">100</span>
                                        </div>
                                        <div>
                                            <span>Shipping cost</span>  
                                            <span style="margin-left:24px; font-style: Roboto; font-weight: bold; color: #364A63;">$425</span>
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="text-primary" style="font-size: 14px; margin-left: 155px; font-weight: bold;">Order Received</div>
                                    <div class="text-#364A63" style="font-size: 13px; margin-left: 100px; font-weight: normal;">Date Received 09/30/2021</div>
                                </div>
                            </div>
                            <hr>

                            <div class="user-card">
                                <div class=" bg-dim-primary d-none d-sm-flex">
                                    <img src="../../../assets/Products/Rectangle 521.jpg" class="rounded" height="80" width="80" alt="">
                                </div>
                                <div class="col">
                                    <div class="user-info ml-3 text-#364A63;">
                                        <h6>Smart Pro 4H Interior Door in Polar White Color</h6>
                                        <h6>$9,949</h6>
                                        <div>
                                            <span>Ordered Quantity</span>
                                            <span style="margin-left:12px; font-style: Roboto; font-weight: bold; color: #364A63;">310</span>
                                        </div>
                                        <div>
                                            <span>Shipping cost</span>  
                                            <span style="margin-left:24px; font-style: Roboto; font-weight: bold; color: #364A63;">$425</span>
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="text-primary" style="font-size: 14px; margin-left: 155px; font-weight: bold;">Order Received</div>
                                    <div class="text-#364A63" style="font-size: 13px; margin-left: 100px; font-weight: normal;">Date Received 09/30/2021</div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
