<div class="nk-content">
    <div class="container">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nkblock-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">
                                Product Catalog
                            </h3>
                            <div class="nk-block-des text-soft" *ngIf="paginationResponse">
                                <p>Total of {{ paginationResponse.total }} Catalogs</p>
                            </div>
                        </div><!-- nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <button class="btn btn-primary" [routerLink]="['new-catlog']">Add New Catlog</button>
                        </div>
                    </div>
                </div>
                <!-- nk-block is inside the table component -->
                <app-catalog-table 
                    [pagination]="catalogPagination$" 
                    [paginationRef]="catalogRef"
                    (response)="getPaginationResponse($event)"
                    (pageSizeChange)="changePageSize($event)"
                    (dropdownAction)="ddAction($event)"
                ></app-catalog-table>
            </div>
        </div>
    </div>
</div>

