<div class="modal fade zoom" tabindex="-1" id="modalZoom">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Project</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <form (ngSubmit)="submitData()" [formGroup]="projectForm">
                <div class="modal-body">
                    <ul class="nk-nav nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" [class.active]="activeTab==='PROJECT_TYPE'" 
                                (click)="changeActiveTab('PROJECT_TYPE')" data-toggle="tab" href="#tabItem1">1.SELECT PROJECT TYPE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="activeTab==='PROJECT_INFO'" 
                            (click)="changeActiveTab('PROJECT_INFO')" data-toggle="tab" href="#tabItem2">2.ADD PROJECT INFORMATION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="activeTab==='PROJECT_DOCS'"
                            (click)="changeActiveTab('PROJECT_DOCS')" data-toggle="tab" href="#tabItem3">3.UPLOAD DRAWINGS AND DOCUMENTS</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <!-- PROJECT TYPE SECTION -->
                        <div class="tab-pane active" id="tabItem1" [class.active]="activeTab==='PROJECT_TYPE'">
                            <div class="container">
                                <div class="row d-flex justify-content-center">

                                    <div class="col-sm-6 mt-4" *ngFor="let projectType of projectTypes">
                                        <a data-toggle="tab" href="#tabItem2" (click)="setProjectType(projectType.title)">
                                            <div class="card border">
                                                <div class="card-body text-center p-5">
                                                    <img src="../../../assets/icons/{{ projectType.icon }}.svg" alt="">
                                                    <h5 class="card-title my-1">{{ projectType.title }}</h5>
                                                    <p class="text-muted">{{ projectType.desc }}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>                                
                            </div>
                        </div>

                        <!-- PROJECT INFORMATION SECTION -->
                        <div class="tab-pane" id="tabItem2" [class.active]="activeTab==='PROJECT_INFO'">
            
                            <div class="container mt-3">
                                <div class="row form-group">
                                    <div class="col">
                                        <p class="form-label mb-1">Project Name</p>
                                        <input type="text" formControlName="name" class="form-control" id="default-01" placeholder="Projet Name">
                                        <div  class="mt-1" *ngIf="name?.invalid && (name?.touched || name?.dirty)">
                                            <span *ngIf="name?.errors?.required" class="text-danger">Name is required</span>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col">
                                        <p class="form-label">Shipping Address</p>
                                    </div>
                                </div>
            
                                <div class="row  mt-2">
                                    <div class="col-sm-7">
                                        <div formGroupName="address">
                
                                                <div class="row">
                                                <div class="col">
                                                    <p class="form-label mb-1">Country</p>
                                                    <select class="form-control" formControlName="country" id="exampleFormControlSelect1">
                                                    <option selected>Choose...</option>
                                                    <option [ngValue]="country" *ngFor="let country of countries">{{country.name}}</option>
                                                    </select>
                                                </div>

                                                    <div class="col form-group">
                                                    <p class="form-label mb-1">State</p>
                                                    <select class="form-control" formControlName="state" id="exampleFormControlSelect1">
                                                        <option selected>Choose...</option>
                                                        <option [ngValue]="state" *ngFor="let state of states">{{state.name}}</option>
                                                    </select>
                                                    </div>

                                                    
                                                </div>
                
                                                <div class="row mt-3 form-group">
                                                    <div class="col">
                                                        <p class="form-label mb-1">Street</p>
                                                        <input type="text" formControlName="street" name="street" class="form-control" id="default-01" placeholder="street">
                                                        <div  class="mt-1" *ngIf="street?.invalid && (street?.touched || street?.dirty)">
                                                            <span *ngIf="street?.errors?.required" class="text-danger">Street is required</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-3 form-group">
                                                <div class="col form-group">
                                                    <p class="form-label  mb-1">Zip Code</p>
                                                    <input type="text" formControlName="zipCode" name="zipCode" class="form-control" id="default-01" placeholder="Input placeholder">
                                                    <div  class="mt-1" *ngIf="zipCode?.invalid && (zipCode?.touched || zipCode?.dirty)">
                                                        <span *ngIf="zipCode?.errors?.required" class="text-danger">ZipCode is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div> 
        
                                 
        
                                </div>
            
                                <div class="row form-group mt-2">
                                    <div class="col">
                                        <p class="form-label mb-1">Project Overview</p>
                                        <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </div>
        
                                <div class="row form-group">
                                    <div class="col">
                                        <div class="d-flex">
                                            <div><a data-toggle="tab" href="#tabItem1" (click)="changeActiveTab('PROJECT_TYPE')" class="btn btn-outline-primary">Back</a></div>
                                            <div><a data-toggle="tab" href="#tabItem3" (click)="changeActiveTab('PROJECT_DOCS')" class="btn btn-primary ml-3">Next</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- PROJECT SPECIFICATION SECTION -->
                        <div class="tab-pane" id="tabItem3" [class.active]="activeTab==='PROJECT_DOCS'">
                            <div class="container mt-3">
                                <div class="row form-group">
                                    <div class="col">
                                        <div>
                                            <p class="form-label mt-3 text-center">Upload Specification/Documentations</p>
                                            <div class="row">
                                                <div class="col-sm-2" *ngFor="let spec of uploadedSpecs" >
                                                    <app-document-preview (removeImage)="onRemoveImage($event)" [src]="spec.url" [role]="'2'"></app-document-preview>
                                                </div>
                                                <div class="col">
                                                    <app-file-uploader (uploadedFiles)="loadFile($event)"></app-file-uploader>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2" *ngFor="let spec of uploadedSpecs" >
                                                <app-document-preview (removeImage)="onRemoveImage($event)" [src]="spec.url" [role]="'2'"></app-document-preview>
                                            </div>
                                            <div class="col">
                                                <app-file-uploader (uploadedFiles)="loadFile($event)"></app-file-uploader>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="d-flex">
                                            <div class="mr-2"><a data-toggle="tab" href="#tabItem2" (click)="changeActiveTab('PROJECT_INFO')" class="btn btn-outline-primary">Back</a></div>
                                            <app-button [loading]="loading" [disabled]="disabled" [type]="'submit'">Save</app-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    
</div>

