<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex justify-content-center mt-4">
                
                <form (ngSubmit)="submitData()" [formGroup]="signinForm" style="height: 500px; width: 400px;">
                    <div class="d-flex align-items-center">
                        <div class="mr-2 mt-2"><img height="85" width="85" src="../../../assets/icons/SupplyXLogoHD.svg" alt=""></div>
                        <div class="d-flex align-items-center mt-2"><p style="font-size: 30px;">Supply<span class="text-primary">X</span></p></div>
                    </div>
                     <p class="mt-4 mb-0" style="font-size: 20px;">Sign in</p>
                     <p class="text-muted" style="font-size: 14px;">Sign in to your account</p>

                    <div class="row form-group d-flex flex-column">
                        <div class="col d-flex justify-content-between">
                            <label class="form-label">Email Address</label>
                            <a class="text-primary">Need Help?</a>
                        </div>
                        <div class="col">
                            <input type="email" formControlName="email" name="email" class="form-control" placeholder="Enter email"> 
                            <div class="mt-1" *ngIf="email.invalid && (email.touched || email.dirty)">
                                <span *ngIf="email.errors?.required" class="text-danger">Email is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group d-flex flex-column">
                        <div class="col d-flex justify-content-between">
                            <label class="form-label">Password</label>
                            <a class="text-primary">Forget Password</a>
                        </div>
                        <div class="col">
                            <input type="password" formControlName="password" name="password" class="form-control" placeholder="Enter password"> 
                            <div class="mt-1" *ngIf="password.invalid && (password.touched || password.dirty)">
                                <span *ngIf="password.errors?.required" class="text-danger">Email is required</span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mt-1" *ngIf="apiError">
                                <span class="text-danger">{{ apiError }}</span>
                            </div>
                            <app-button [loading]="loading" [disabled]="disabled" [type]="'submit'">Sign in</app-button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col pb-sm-4">
                            <span>Don't have an account?</span><a class="text-primary ml-2" [routerLink]="['/register']" >Create an account</a>
                        </div>
                    </div>
                    <div class="d-none d-sm-block" style="height: 300px;"></div>
                        <div class="mb-4">
                            <div class="p-0 py-md-4">
                                <span class="text-primary ">Terms & Condition</span>
                                <span class="text-primary ml-2">Privacy Policy</span>
                                <span class="text-primary ml-2">Help</span>
                            </div>
                            <div class="mt-2 ">
                                <div class="ms-2 "><i class="far fa-copyright"></i><a class="ml-2">2012 Supply X. All Rights Reserved.</a>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6 d-none d-sm-block">
            <div><img src="../../../assets/images/side image.png" style="height: 100vh; width: 97vh" alt="..."></div>
        </div>
    </div>
</div>  
