<!-- 
    form card change password -->
<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">Change Email Address</h3>
    </div>
    <div class="card-body">
        <div autocomplete="off">
            <div class="form-group">
                <label for="inputPasswordNew">New Email</label>
                <input type="email" class="form-control" id="inputEmailnew" required="" (change)="emailOnChange($event)">
            </div>
            <div class="form-group">
                <button (click)="closeDialog()" class="btn btn-secondary btn-lg float-right ml-2 ">Save</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-secondary btn-lg float-right " (click)="CancelAllData()">cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- form card change password  -->