<div class="contianer mt-3">
    <div class="row">
        <div class="col">
            <div><p class="page-title nk-block-title" style="font-size: 28px;">Profile</p></div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary"  [routerLink]="['edit-seller-profile']"><img src="../../assets/icons/edit.svg" 
                    alt=""> Edit Profile</button>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="card p-4">
                <div class="row">
                    <div class="col"><div><p class="page-title" style="font-size: 20px;">Account Information</p></div></div>
                </div>

                <div class="row mt-2">
                    <div class="col-sm-2">
                        <div class="text-center">
                            <img src="../../assets/images/t.jpg"  height="80" width="80" alt="">
                        </div>
                        <div class="mt-2 text-center" ><a href="" class="tx-13 text-primary">Upload Photo</a></div>
                    </div>
                    <div class="col">
                        <div><p class="page-title mb-0" style="font-size: 32px;">{{_user.firstName}} {{_user.lastName}}</p></div>
                        <div><p *ngIf="_user.roleType === '2'" class="tx-14 ">Developer</p></div>

                        <div class="row mb-2 mt-3">
                           <div class="col-sm-2"><div><p class="mb-0 text-muted">Created</p></div></div>
                           <div class="col"><div><p class="mb-0 text-muted">{{_user.createdAt}}</p></div></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-2"><div><p class="mb-0 text-muted">Verification</p></div></div>
                            <div class="col"><div><p class="mb-0 text-primary">Verified Seller Account</p></div></div>
                         </div>

                         <div class="row">
                            <div class="col-sm-2"><div><p class="mb-0 text-muted">Status </p></div></div>
                            <div class="col"><div><p class="mb-0">Active</p></div></div>
                         </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col"><div><p class="page-title" style="font-size: 20px;">Personal Information</p></div></div>
                </div>

                <div class="row mt-2">
                    <div class="col">

                        <div class="row mb-2">
                           <div class="col-sm-1"><div><p class="mb-0 text-muted">First Name</p></div></div>
                           <div class="col"><div><p class="mb-0">{{_user.firstName}}</p></div></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-1"><div><p class="mb-0 text-muted">Last Name</p></div></div>
                            <div class="col"><div><p class="mb-0 ">{{_user.lastName}}</p></div></div>
                         </div>

                         <div class="row mb-2">
                            <div class="col-sm-1"><div><p class="mb-0 text-muted">Account</p></div></div>
                            <div class="col"><div><p *ngIf="_user.roleType === '2'" class="mb-0">Seller</p></div></div>
                         </div>

                         <div class="row mb-2">
                            <div class="col-sm-1"><div><p class="mb-0 text-muted">I Am A</p></div></div>
                            <div class="col"><div><p class="mb-0">Developer</p></div></div>
                         </div>
                    </div>
                    
                </div>

                <hr>

                <div class="row">
                    <div class="col"><div><p class="page-title" style="font-size: 20px;">Contact Information</p></div></div>
                </div>

                <div class="row mt-2">
                    <div class="col">

                        <div class="row mb-2">
                           <div class="col-sm-1"><div><p class="mb-0 text-muted">Email</p></div></div>
                           <div class="col"><div><p class="mb-0">{{_user.email}}</p></div></div>
                           <div class="col-sm-9"><div><a href="">Change Email Address</a></div></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-1"><div><p class="mb-0 text-muted">Mobile</p></div></div>
                            <div class="col"><div><p class="mb-0 ">{{_user.mobile}}</p></div></div>
                         </div>

                         <div class="row mb-2">
                            <div class="col-sm-1"><div><p class="mb-0 text-muted">Phone</p></div></div>
                            <div class="col"><div><p class="mb-0">{{_user.phone}}</p></div></div>
                         </div>

                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col"><div><p class="page-title" style="font-size: 20px;">Address Information</p></div></div>
                </div>

                <div class="row mt-2">
                    <div class="col">

                        <div class="row mb-2">
                           <div class="col-sm-1"><div><p class="mb-0 text-muted">Street</p></div></div>
                           <div class="col"><div><p class="mb-0">{{_user.street}}</p></div></div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-1"><div><p class="mb-0 text-muted">State</p></div></div>
                            <div class="col"><div><p class="mb-0 ">{{_user.state}}</p></div></div>
                         </div>

                         <div class="row mb-2">
                            <div class="col-sm-1"><div><p class="mb-0 text-muted">Country</p></div></div>
                            <div class="col"><div><p class="mb-0">{{_user.country}}</p></div></div>
                         </div>

                         <div class="row mb-2">
                            <div class="col-sm-1"><div><p class="mb-0 text-muted">Zip Code</p></div></div>
                            <div class="col"><div><p class="mb-0">{{_user.zipCode}}</p></div></div>
                         </div>

                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col"><div><p class="page-title" style="font-size: 20px;">Security</p></div></div>
                </div>

                <div class="row mt-2">
                    <div class="col">

                        <div class="row mb-2">
                           <div class="col-sm-1"><div><p class="mb-0 text-muted">Password</p></div></div>
                           <div class="col"><div><p class="mb-0">********</p></div></div>
                           <div class="col-sm-9"><div><a href="">Change Password</a></div></div>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>


